.travel {
	.bg-image-detail {
	    &.hide-img {
	      animation: bgAnimationLeave .5s ease-in forwards!important;
	    }
	    &.enter-img {
	      animation: bgAnimation .5s ease-out;  
	    }
	    
	    background-size: cover;
	    background-repeat: no-repeat;
	    background-position: center;
	    position: absolute;
	    left: 0;
	    right: 0;
	    height:100%;
	    top: 0;
	    z-index: 1;
	    &.scroll-tweak {
	      &:after {
	        display: block;
	      }
	    }
	    &:before{
	          display:block;
	          content: '';
	          position: absolute;
	          left: 0;
	          right: 0;
	          bottom:0;
	          top: 0;
	          background: rgba(0,0,0,.4);
	          z-index:2;
	        }
	      &:after{
	        display:none;
	        content: '';
	        position: absolute;
	        left: 0;
	        right: 0;
	        bottom:0;
	        height: 100%;
	        background-color: #fff;
	        z-index:3;
	      }
	  }

}
