<div class="travel" >
<div class="bg-image-detail" [class.hide-img]="exitPage" [class.enter-img]="enterPage"  [ngStyle]="{'background-image': 'url(' + pageInfo.bannerImage + ')'}"></div>
  <top-bar [poppage]="true" [isLoaded]="isLoaded" [blackStyle]="scrollBar"></top-bar>


     <card-list [listHeader]="true" [iconHeader]="'trips'" [titleHeader]="pageInfo.name | translate" [descriptionHeader]="pageInfo.subtitle | translate" (scrollBar)="scrolled($event)" [showMap]="false" [filters]="false" [alias]="'travelAgent'" [filterFields]="filterFields" [sortBy]="'sortOrder'" [title]="'Travel Agents' | translate" *ngIf="items"></card-list>

</div>