.offers-promotions {
	background: url(../../imgs/travel/about_bg.jpg) no-repeat top center/cover;
	width: 100%;
	height: 100%;
	position: relative;
	.content-wrapper {
		position: absolute;
		margin-top: 70px;
		height: calc(100% - 70px);
		width:100%;
		pointer-events: none;
	}
	

}
