

$whiteColor: #fff;
$blackColor: #000;
$blueColor: #071689;
$startColor: #11a0b4;
$endColor: #13c0d7;

@mixin gradient($startColor, $endColor, $direction){
background: $startColor;
background: -webkit-linear-gradient($direction,  $startColor 0%,$endColor 100%);
background: linear-gradient(to $direction,  $startColor 0%,$endColor 100%);
}

.rtl {
  .details-section {
    .details-top-content {
      h3 {
        font-family: $fontBoldArabic!important;
      }
      p {
        font-family: $fontRegularArabic;
      }
    }
    .details-top-features {
      li {
        padding: 4px 14px 4px 10px!important;
        text-align: right;
        font-family: $fontRegularArabic;
        &:after {
          left: auto;
          right:0px;
        }
      }
    }
  }

    .details-container {
      font-family: $fontRegularArabic;
      h4 {
        font-family: $fontBoldArabic;
      }
      p {
        font-family: $fontRegularArabic;
      }
    }
    .details-section {
      .details-box {
        font-family: $fontRegularArabic;
        .hotel-price {
          span {
            float: right;
          }
        }
      }
    }
    
    .details-list {
      font-family: $fontRegularArabic;
      h3 {
        font-family: $fontBoldArabic;
      }
      li {
        padding: 4px 14px 4px 10px!important;
        text-align: right;
        font-family: $fontRegularArabic;
        &:before {
          left: auto;
          right:0px;
        }
      }
      p {
        font-family: $fontRegularArabic;
      }
    }
    .details-related-container {
      h4 {
        font-family: $fontRegularArabic;
      }
      
    }
  
}
@keyframes bgAnimation {
  0% { opacity: 0; transform: translateY(-10%) translateZ(0) translate3d(0px, 0px, 0px); }
  100% { opacity: 1; transform: translateY(-0%) translateZ(0) translate3d(0px, 0px, 0px); }
}
@keyframes bgAnimationLeave {
  0% { opacity: 1; transform: translateY(0%) translateZ(0) translate3d(0px, 0px, 0px); }
  100% { opacity: 0; transform: translateY(-10%) translateZ(0) translate3d(0px, 0px, 0px); }
}

.details-wrapper{
  &.white-bg {
    background: #fff;
  }
    position: absolute;
    background-color: transparent;
    padding-bottom: 65px;

    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    &.no-bg {
      background: transparent;
      top-bar {
        display: none;
      }
    }
  .bg-image-detail {
    &.hide-img {
      // animation: bgAnimationLeave .5s ease-in forwards!important;
    }

    transform: translateZ(0) translate3d(0px, 0px, 0px);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: 0;
    right: 0;
    height:30%!important;
    min-height: 300px;
    top: 0;
    z-index: 1;
    &.scroll-tweak {
      &:after {
        display: block;
      }
    }
    &:before{
          display:block;
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          bottom:0;
          top: 0;
          background: rgba(0,0,0,.4);
          z-index:2;
        }
     
  }
  & > ion-content {
        // -webkit-mask-image: -webkit-gradient(linear, left 10%, left top, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
        // top: 70px!important;
  }
    ion-content{
        position: absolute;
        right: 0;
        left: 0;
        bottom: 0px;
        top: 0;
        overflow-y: auto;
        z-index: 2;
         
        scroll-content {
         background: #fff;
          z-index: 3;
        }
          
    }
}
.details-section{
  font-family: $fontRegular;
  font-size: 17px;
  color: $blackColor;
  line-height: 20px;
  margin-bottom: 65px;
  position: relative;
  line-height: 25px;
      padding-top: 70px;
      padding-bottom:0px;
    img{
        vertical-align: top;
    }

    h3,h4,p,ul{
        margin-bottom: 15px;
    }
    p{
        color: $whiteColor;
    }
    .rating{
        font-size: 26px;
        margin-bottom: 20px;
    }
    .details-top{
      font-size: 15px;
      padding-top: 20px;
      min-height: 100%;
      color: $whiteColor;
      background-size: cover;
      background-repeat: no-repeat;
      position:relative;
      text-align: center;
      text-shadow: rgba(0, 0, 0, .1) 1px 1px 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      z-index: 2;
  }
  .details-top-content{
    position: relative;
    z-index: 2;
      padding: 30px;
      transform: translateZ(0) translate3d(0px, 0px, 0px);
  }
  .details-top-content h3{
    font-family: $fontDefaultBold;
    font-size: 24px;
  }
  .details-top-content p{ 
    font-size:15px;
    line-height: 22px;
  }
  .details-section .related-container hotel-rating .rating{
    font-size: 12px;
    margin-bottom: 0;
  }
  .related-container card-list .list .list-wrapper{
    height: calc(100% - 15px);
  }
  .details-img{
    position: relative;
    z-index: 2;
    background-color: #fff;
    position: relative;
    z-index: 2;
    transform: translateZ(0) translate3d(0px, 0px, 0px);
    max-height: 200px;
  }
  .img-view-large{
    width: 40px;
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 10;
  }
  .details-container{
    padding: 20px 25px;
     background-color: $whiteColor;
     position: relative;
     z-index: 3;
     transform: translateZ(0) translate3d(0px, 0px, 0px);
    p{
        color: $blackColor;
      &:last-child{
        margin-bottom:0;
      }
    }
  }
  .details-box{
    border-top: 1px solid #ccc;
    padding: 15px 25px;
    color: $blackColor;
    background-color: $whiteColor;
    position: relative;
    z-index: 2;
    .hotel-price {
      display: inline-block;
      width: 100%;
        span {
          float: left;
        }
      }
  }
  .details-map{
    height: 230px;
    position: relative;
    z-index: 2;
    transform: translateZ(0) translate3d(0px, 0px, 0px);
    overflow: hidden;
  &:before{
    display: block;
    content: '';
    position:absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 9;
  }
    .details-map-link{
      position:absolute;
      left: 20px;
      bottom: 10px;
      background: rgba(0,0,0,.2) url(../../imgs/icons/icon-map-link.png) center center/27px auto no-repeat;
      display: block;
      width: 47px;
      height: 47px;
      -webkit-border-radius: 50%;
      border-radius: 50%; 
      z-index: 10;
    }
  }
  .details-list{
    color: $blueColor;
    padding: 20px 25px;
    position: relative;
    z-index: 2;
    ul{
      padding: 0;
      margin: 0;
      list-style: none;
      overflow: hidden;
      border-top: 1px solid #f2f2f2;
      &:last-child{
        margin-bottom: 0;
      }
    }
    li{
      font-size: 15px;
      padding: 4px 0 0 10px;
      color: $blackColor;
      position: relative;
      a {
        color: $blackColor;
        text-decoration: none;
        pointer-evetns: none;
      }

      &:before{
        content: '';
        display: block;
        width: 3px;
        height: 3px;
        border-radius: 50%;
        background: #868589;
        position: absolute;
        left: 0;
        top: 14px;
      }
    }
    p{
      font-size: 17px;
      color: $blueColor;
    }
  }
}

.details-tabs-bottom{
  position: absolute;
  z-index: 100;
  left: 0;
  right: 0;
  bottom: -70px;
  height: 65px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  flex-direction: column;
  transition: bottom .3s;
  will-change: bottom;
  &.hide-bottom {
    bottom:-70px!important;
  }
   &.show-bottom {
    bottom:0px;
  }

  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.13);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.13);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.13);

  @include gradient($startColor, $endColor, top);

  div{
    text-align: center;
    position: relative;
    flex: 1 100%;
    align-items: center;

    &:after{
      display:block;
      content: '';
      position: absolute;
      right: 0;
      width: 1px;
      top: 10px;
      bottom: 10px;
      background: rgba(255,255,255,.2);
    }
    a{
        display: block;
    }
    img{
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
    }
  }
}
a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
.gmnoprint div {
    background:none !important;
}
@media (max-width:374px){
  .details-section .details-container{
    padding: 20px;
  }
  .details-section .details-box{
    padding: 15px 20px;
  }
  .details-section .details-list{
    padding: 20px;
  }
}