<div class="voice-search">
		<span class="lnr lnr-cross" tappable (click)="close()"></span>
		<div class="voice-search-inside">
			<h3>{{'What can we help you find?' | translate }}</h3>
			<div class="voice-text">{{listened | translate }}</div>
			<p>{{"If you're find it difficult to get the right search result, try simplify your request to keywords"  | translate }}</p>
			<img class="loading-spinner" *ngIf="listened=='Processing...'" src="./imgs/preloader.svg">
		</div>
		
		<voice-button (onListen)="getListen($event)"></voice-button>
	</div>