.search-box {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(../../imgs/navigation/background.jpg) no-repeat top left;
	background-attachment: fixed;
	background-size: cover;
}

$fontDefault: 'Albert_Regular';
$fontDefaultBold: 'Albert_Bold';
$whiteColor: #fff;
$blackColor: #000;
$blueColor: #071689;
$startColor: #11a0b4;
$endColor: #13c0d7;



.search-lists{

  z-index: 12;
  position: absolute;
  left: 0;
  right: 0;
  top: 67px;
  width: 100%;
  height: calc(100% - 67px);
  font-family: $fontDefault;
  color: $whiteColor;
  font-size: 15px;
  .search-list{
      &:last-child {
        margin-bottom: 100px;
      }
    border-bottom: 1px solid rgba(255,255,255,.1);
    padding: 13px 50px 13px 20px;
    position: relative;
    color: #fff;
    img{
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .search-action{
    background: rgba(0,0,0,.8);
    text-align:center;
    font-size: 24px;
    padding: 15px 20px;
    color: #fff;
  }
}

.voice-search{
  display: flex;
  justify-content: center;
  align-items: center;
  position:absolute;
  z-index: 1000;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  background: url(../../imgs/navigation/background.jpg) no-repeat top left;
  background-attachment: fixed;
  background-size: cover;
  .voice-search-inside{
    font-family: $fontDefault;
    color: $whiteColor;
    font-size: 15px;
    text-align: center;
    position:relative;
    
    h3{
      font-size: 20px;
      opacity: .7;
      max-width: 80%;
      margin:0 auto 30px;
    }
    p{
      max-width: 60%;
      opacity: .7;
      margin:0 auto 30px;
      color: rgba(255,255,255,.7);
    }
    .voice-text{
      background:rgba(0,0,0,.5);
      font-size: 18px;
      padding: 15px 20px;
      margin-bottom: 25px;
    }
  }
  .record-btn{
    width: 86px;
    height: 86px;
    background: #13b7ce;
    line-height: 86px;
    text-align: center;
    font-size: 50px;
    color: #fff;
    border-radius: 50%;
    position:absolute;
    z-index: 100;
    left: 50%;
    bottom: 65px;
    margin-left: -43px;
    .lnr {
      display: inline-block;
      width: 100%;
      padding-left:3px;
    }
  }
  .lnr-cross{
    position:absolute;
    left: 20px;
    top: 20px;
    color: $whiteColor;
    font-size: 26px;
  }
}
html[dir="rtl"]{
  .voice-search .record-btn{
    line-height: 105px;
  }
  .voice-search-inside{
    font-family: $fontRegularArabic!important; 
    p {
      line-height: 20px;
    }
  }
}