<div class="details-wrapper" [class.no-bg]="exitPage" [class.white-bg]="detailsBG" >
<top-bar [poppage]="true" [isLoaded]="detailsBG" [blackStyle]="scrollBar"></top-bar>

    <ion-content   #detailScroll >
        <div class="details-section">
        <div class="bg-image-detail" [class.hide-img]="exitPage" [class.enter-img]="enterPage" [class.scroll-tweak]="scrollTweak" [ngStyle]="{'background-image': 'url(' + item.featuredImage + ')', 'height': imgHeight+'px'}"></div>
            <div class="details-top" >
                <div class="details-top-content">
                    <h3 class="title">{{item.name}}</h3>
                    <hotel-rating [item]="item"></hotel-rating>
                    <p class="details">{{item.streetAddress}}</p>
                </div>
            </div>

            <div class="details-img" *ngIf="item.hotelImages">
                <img src="./imgs/icons/img-max-view.svg" class="img-view-large" tappable (click)="showImageSlider()">
                <img src="{{item.hotelImages[0]}}">
            </div>
            <div class="details-container" [innerHtml]="item.description"></div>

            <div class="details-box">
                {{'Average Price Per Night:' | translate}}<br>
                <strong *ngIf="item.roomPrice">{{'Per-night:' | translate}} {{item.roomPrice}} {{'AED' | translate}}</strong>
                <strong *ngIf="!item.roomPrice">{{'Please contact directly' | translate}}</strong>
            </div>
            <div class="details-box" [innerHtml]="tripAdvisorContent" *ngIf="tripAdvisorContent"></div>
            <div class="details-map">
                <img src="https://maps.googleapis.com/maps/api/staticmap?center={{item.latitude}},{{item.longitude}}&zoom=16&size=750x460&maptype=roadmap&markers=icon:http://dubai.mblm.com/ramadan/pins/pin-hotel-hd.png%7C{{item.latitude}},{{item.longitude}}&key=AIzaSyBs-DmzTJIwbcuwitSCaVpRXEnnO0W9zwU" alt="">
                <a class="details-map-link" href="#" (click)="openURL(item)"></a>
            </div>
            <div class="details-list">
                <h3>{{'Facilities And Features' | translate}}</h3>
                <ul>
                    <li *ngFor="let f of item.facilitiesAndFeatures">{{getEnumValue(f) | translate}}</li>
                </ul>
            </div>
        </div>
    </ion-content>
    <div class="details-tabs-bottom" [class.hide-bottom]="exitPage" [class.show-bottom]="detailsBG">
        <div (tap)="toggleFavorite()"  *ngIf="!item.favorite"><img src="./imgs/icons/icon-fav.svg" width="25" ></div>
        <div (tap)="toggleFavorite()"  *ngIf="item.favorite"><img src="./imgs/icons/icon-fav-active.svg" width="25" ></div>
        <div *ngIf="item.hotelImages && item.hotelImages.length > 0"><img src="./imgs/icons/icon-image.png" width="29" height="23" tappable (click)="showImageSlider()" ></div>
        <div *ngIf="item.bookingUrl" (click)="openBookingURL(item)"><img src="./imgs/icons/icon-booking.svg" width="38" height="38"></div>
        <div *ngIf="item.website" (click)="openHotelURL(item)"><img src="./imgs/icons/icon-website.png" style="margin-top:-2px;" width="41" height="32"></div>
        <div *ngIf="item.phone"><a href="{{'tel:+' +  item.phone}}" target="_blank"><img src="./imgs/icons/icon-phone.svg" width="26" height="26"></a></div>
        <div><share-button [item]="item"></share-button></div>
    </div>
</div>
