<div class="search-lists">
<div class="search-action" tappable (click)="close()"><span *ngIf="loadedResults" class="lnr lnr-cross"></span><span *ngIf="!loadedResults" class="fa fa-spinner fa-spin"></span></div>
<ion-content>
	
	<div class="search-list" *ngFor="let item of results" (click)="openPage(item)" tappable>
		<span>{{item.name}}</span>
		<img src="./imgs/icons/icon-{{item.alias}}.svg" width="21">
	</div>
	

	

</ion-content>
</div> 