<!-- <div class="camera">
	<ion-content>
		<div class="top-bar">
			<toggle-nav></toggle-nav>	
		</div>

		<div class="camera-control">
			<div id="ionball" (click)="takePicture()" [class.show]="cameraActive"></div>
		    <button light fab small fab-right fab-top  [class.show]="cameraActive" (click)="switchCamera()"><ion-icon name="switch"></ion-icon></button>
		    <button light fab small fab-right fab-bottom [class.show]="cameraActive == false" (click)="convertImgToBase64()"><ion-icon name="share"></ion-icon></button>
		</div>
	 
	    <div class="camera-image">
	    	<img (load)="imageLoaded()" [src]="imgCamera" #imageSrc  class="viewImage" >
	 		 <canvas id="joined" class="croppedImage"></canvas>
	    </div>
	   
	</ion-content>
</div> -->



<!-- <div class="camera-wrapper step1">
	<div class="camera-header">
		<span class="lnr lnr-cross"></span>
		<img src="./imgs/logo-color.svg" width="93">
	</div>
	<div class="photo-frame">
		<div class="camera-controls">
			<ion-icon name="reverse-camera"></ion-icon>
			<ion-icon name="flash"></ion-icon>
		</div>
	</div>
	<div class="frame-wrapper">
		<div class="frames">
			<div class="frame-th"><img src="./imgs/photo-frames/photo-frame-1.png"></div>
			<div class="frame-th"><img src="./imgs/photo-frames/photo-frame-2.png"></div>
			<div class="frame-th"><img src="./imgs/photo-frames/photo-frame-3.png"></div>
			<div class="frame-th"><img src="./imgs/photo-frames/photo-frame-1.png"></div>
			<div class="frame-th"><img src="./imgs/photo-frames/photo-frame-2.png"></div>
			<div class="frame-th"><img src="./imgs/photo-frames/photo-frame-3.png"></div>
		</div>
	</div>
	<div class="btn-photo" tappable></div>
</div> -->

<!-- <div class="camera-wrapper step2">
	<div class="camera-header">
		<span class="lnr lnr-chevron-left"></span>
		<img src="./imgs/logo-color.svg" width="93">
	</div>
	<div class="photo-frame">
		<div class="camera-controls">
			<ion-icon name="reverse-camera"></ion-icon>
			<ion-icon name="flash"></ion-icon>
		</div>
	</div>
	<div class="frame-wrapper">
		<div class="frames">
			<div class="frame-th"><img src="./imgs/photo-frames/photo-frame-1.png"></div>
			<div class="frame-th"><img src="./imgs/photo-frames/photo-frame-2.png"></div>
			<div class="frame-th"><img src="./imgs/photo-frames/photo-frame-3.png"></div>
			<div class="frame-th"><img src="./imgs/photo-frames/photo-frame-1.png"></div>
			<div class="frame-th"><img src="./imgs/photo-frames/photo-frame-2.png"></div>
			<div class="frame-th"><img src="./imgs/photo-frames/photo-frame-3.png"></div>
		</div>
	</div>
	<button class="btn-done">Done</button>
</div> -->

<div class="camera-wrapper step3">
	<top-bar blackStyle="true"></top-bar>
	<div class="photo-frame" [ngStyle]="{'height': imgHeight+'px'}">
		<div class="selected-frame" *ngIf="selectedFrame">
			<img [src]="selectedFrame.frame" alt="">
		</div>
		 <div class="camera-image" [class.loadingShow]="cameraActive" data-loading="Loading..." [ngStyle]="{'max-height': imgHeight+'px', 'height': '100%'}">
	    	<img (load)="imageLoaded()" [src]="imgCamera" #imageSrc  class="viewImage" >
	 		 <canvas #canvas2Save id="joined" class="croppedImage"></canvas>
	    </div>
		
	</div>
	<div class="frame-wrapper" [ngStyle]="{'height': 'calc(100% - '+ (imgHeight+70) +'px)'}">
		
		 <ion-scroll scrollX="true" scrollY="false" class="frames" overflow-scroll="false" >
			<div *ngFor="let item of frames" (click)="selectFrame(item)" class="frame-th"><img [src]="item.frame"></div>
			
		</ion-scroll> 
			<button class="btn-done btn-retake" *ngIf="!cameraActive && !shareButton" (click)="resetCamera()">Retake</button>
			<button class="btn-done" (click)="convertImgToBase64()" *ngIf="!cameraActive && !shareButton">Done</button>
			<!-- <button class="btn-done" (click)="resetCamera()" *ngIf="shareButton">New photo</button> -->
			<div class="btn-photo" (click)="takePicture()" tappable *ngIf="cameraActive"></div>
			<span class="btn-camera" tappable *ngIf="cameraActive" (click)="switchCamera()">
				<span class="icon-refresh"></span>
			</span> 
			<span class="btn-share" tappable *ngIf="shareButton" (click)="switchShare()">
				<span class="icon-share"></span>
			</span> 
		
	</div>


	<div class="filter-overlay" *ngIf="shareWindow">
		<div class="filter-popup">
			<div class="popup-header">
				<span class="lnr lnr-cross" tappable (click)="switchShare()"></span> SHARE
			</div>
			<div class="popup-content">
				<div class="popup-list" tappable (click)="shareImage('album')">
					<span class="lnr lnr-download"></span> Save
				</div>
				<div class="popup-list" tappable (click)="shareImage('facebook')">
					<span class="icon-social-facebook"></span> Facebook
				</div>
				<div class="popup-list" tappable (click)="shareImage('twitter')">
					<span class="icon-social-twitter"></span> Twitter
				</div>
				<div class="popup-list" tappable (click)="shareImage('instagram')">
					<span class="icon-social-instagram"></span> Instagram
				</div>
				<div class="popup-list" tappable  (click)="shareImage('share')">
					<span class="icon-options"></span> Other
				</div>
			</div>
		</div>
	</div>
</div>
