.travel {
	background: url(../../imgs/travel/travel_bg.jpg) no-repeat top center/cover;
	width: 100%;
	height: 100%;
	position: relative;
	// &:after {
	// 	position: absolute;
	// 	top: 0;
	// 	left: 0;
	// 	width: 100%;
	// 	height: 100%;
	// 	content: '';
	// 	background: rgba(0,0,0,.25);
	// 	z-index:1;
	// }
	.content-wrapper {
		position: absolute;
		margin-top: 70px;
		height: calc(100% - 70px);
		width:100%;
		pointer-events: none;
	}
}
