// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@import "../app.scss";

@import "../shared/nav/nav.component.scss";
@import "../shared/top-bar/top-bar.component.scss";


@import "../home/home.component.scss";

@import "../travel-information/travel-information.component.scss";
@import "../travel-agents/travel-agents.component.scss";
@import "../about-ajman/about-ajman.component.scss";
@import "../visitor-support/visitor-support.component.scss";

@import "../+trips/trips.component.scss";
@import "../+trips/trip-details/trip-details.component.scss";

@import "../settings/settings.component.scss";
@import "../search/voice-button/voice-button.component.scss";
@import "../search/search.component.scss";
@import "../intro/intro.component.scss";

@import "../camera/camera.component.scss";
@import "../panorama/panorama.component.scss";

@import "../home/home-widgets/home-widgets.component.scss";

@import "../shared/card-list/card-list.component.scss";
@import "../shared/filter-popover/filter-popover.component.scss";

@import "../+hotels/hotel-details/hotel-details.component.scss";
@import "../+attractions/attraction-details/attraction-details.component.scss";

@import "../shared/image-slider/image-slider.component.scss";
@import "../+content/content.component.scss";
@import "../+destinations/destinations.component.scss";


@import "../currency-converter/currency-converter.component.scss";
@import "../social-media/social-media.component.scss";

@import "app.android.scss";

html, body, ion-content, ion-page, .nav-decor {
  background-color: transparent !important;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0) translate3d(0px, 0px, 0px);
}
scroll-content {
      padding-top: 0px!important;
      backface-visibility: hidden;
}

