<button (click)="toggleFavorite();$event.stopPropagation();" >
  <img *ngIf="!item.favorite" [src]="'./imgs/icons/icon-fav-gray.png'" >
  <img *ngIf="item.favorite" [src]="'./imgs/icons/icon-fav-highlighted.png'" >
</button>
