.panorama {
	#panoramaViewer {
		background-size: auto 100%; 
		// height: 100%; 
		background-repeat: no-repeat;
		background-color: #000;
		transform: translateZ(0) translate3d(0px, 0px, 0px);
		position: absolute;
		top: 70px;
		bottom: 0px;
		left: 0;
		right: 0;
		z-index: 1;
		&.bottom-menu {
			bottom: 65px;
		}
		&.noScrollLeft {
			& ~ span.drag-left {
				display: none;
			}
		}
		&.noScrollRight {
			& ~ span.drag-right {
				display: none;
			}
		}
		& ~ span {
			position: absolute;
			top: 50%;
			font-size: 30px;
			color: #999;
			text-shadow: 0px 0px 3px  #ccc;
			z-index: 5;
			&.drag-right {
				right: 20px;
			}
			&.drag-left {
				left: 20px;
			}
		}
	}
	.details-tabs-bottom {
		& > div {
			color: #084e58;
			font-size: 18px;
			align-content: center;
			align-items: center;
			&.selected {
				color: #fff;
			}
			span {
				padding: 20px 0px;
				width: 100%;
				display: flex;
				justify-content: center;
			}
		}
	}

	.closevTour {
		position: absolute;
		top: 10px;
		left: 10px;
		color: #373737;
		width: 50px;
		height: 50px;
		z-index: 5;
		font-size: 25px;
		text-align: center;
		padding-top: 8px;
	}
}