.rtl {
  	.home {
  		.primary-buttons {
  			& > div {
  				font-family: $fontBoldArabic;
  				float: right;
  				&:nth-child(2n+2) {
					margin-left: 0;
				}
				&:nth-child(2n+1) {
					margin-right: 0;
					margin-left: 2%;
				}
  			}
  		}
  		.footer-buttons {
  			& > div {
  				font-family: $fontRegularArabic;
  				font-size: 12px;
  				float: right;
  				&:nth-child(4){
					&::after {
						display: block;
					}
				}
				&:nth-child(1){
					&::after {
						display: none;
					}
				}
				&:nth-child(2){
					&::after {
						display: none;
					}
				}
  			}
  		}
  	}
  
}
@media  (min-width : 414px) {
  ion-content.home {
	.primary-buttons {
		top: 275px;
		& > div {
			height: 146px;

			& > div {
				padding: 15px 10px;
				span {

					padding: 0px 10px;	
				}
				
			}
		}
	}
	.footer-buttons {
		& > div {
			height: 70px;
			font-size: 12px;
			line-height:14px;
			span {
				&.lnr {
					font-size: 22px;
					&.lnr-faq {
						height:23px;
					}
				}
			}
			&:nth-child(3) {
				span {
					&.lnr {
						font-size: 19px;
    					margin-bottom: 8px;
					}
				}
			}
		}
	}
  }
}

.home {
	background: url(../../imgs/homepage/background.png) no-repeat top center;
	background-size: cover;
	position: relative;
	scroll-content {
		overflow-y:hidden;
	}
	.home-video {
		position: absolute;
		top:0;
		left:0;
		width: 100%;
		height: 100%;
		z-index: 1;
		&::after {
			content: '';
			width: 100%;
			height:100%;
			position: absolute;
			top:0;
			left: 0;
			background: rgba(0,0,0,.3);
		}
		video{
			width: 100%;
			// height: 100%;
		}
	}
	.home-top {
		width: 100%;
		display: flex;
		flex-direction: row;
		padding: 0 20px;
		z-index: 2;
		position: relative;
		.logo-small, toggle-nav, weather-home {
			align-content: middle;
		}
		toggle-nav {
			text-align: left;
			flex: 1 100%;
			padding: 7px 3.5px;
		}
		.logo-small {
			text-align: center;
			flex: 1 100%;
		}

	}
	.primary-buttons {
		position: absolute;
		top: 250px;
		left: 0;
		width: 100%;
		padding: 20px;
		z-index: 2;
		-webkit-transform: translateZ(0) translate3d(0px, 0px, 0px);
		& > div {
			float: left;
			width: 48%;
			height: 130px;
			margin: 2%;
			
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-end;
			padding: 1px;
			line-height: 18px;
			text-align: center;
			font-size:18px;
			font-family: $fontBold;
			color: #fff;
			text-shadow: 0px 0px 2px rgba(0,0,0,.17);
			
			box-shadow: 2px 4px 8px rgba(0, 0, 0, .14);
			& > div {
				display: inline-block;
				width: 100%;
				height: 100%;
				padding: 10px 10px;
				position: relative;
				&:after {
					position: absolute;
					top: 0;
					left:0;
					width: 100%;
					height: 100%;
					content: '';
					z-index: 1;
				}
				span {
					width: 100%;
					display: inline-block;
					z-index: 2;
					position: relative;
				}
				img {
					width: 50%;
					margin: auto;
					z-index: 2;
					position: relative;
				}
			}
			
			&:nth-child(2n+2) {
				margin-right: 0;
			}
			&:nth-child(2n+1) {
				margin-left: 0;
			}
			&:nth-child(1) div {
				background: url(../../imgs/homepage/nearby.jpg) no-repeat center;
				background-size: cover;
				&:after {
					background: linear-gradient(rgba(19,192,215,.7),rgba(17,150,168,.7));
				}
			}
			&:nth-child(2) div {
				background: url(../../imgs/homepage/things.jpg) no-repeat center;
				background-size: cover;
				&:after {
					background: linear-gradient(rgba(214,19,102,.7),rgba(173,18,84,.7));
				}
			}
			&:nth-child(3) div {
				background: url(../../imgs/homepage/places.jpg) no-repeat center;
				background-size: cover;
				&:after {
					background: linear-gradient(rgba(225,106,44,.7),rgba(199,94,39,.7));
				}
			}
			&:nth-child(4) div {
				background: url(../../imgs/homepage/hotels.jpg) no-repeat center;
				background-size: cover;
				&:after {
					background: linear-gradient(rgba(7,22,137,.7),rgba(7,15,82,.7));
				}
			}
		}
	}
	.footer-buttons {
		position: absolute;
		bottom: 30px;
		left: 50%;
		-webkit-transform: translateX(-50%) translateZ(0) translate3d(0px, 0px, 0px);
		width: 88%;
		z-index: 2;
		& > div {
			float: left;
			width: 25%;
			height: 60px;
			margin: 0;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-end;
			padding: 10px 10px;
			line-height: 12px;
			text-align: center;
			font-size:10px;
			font-family: $fontRegular;
			color: #fff;
			position: relative;
			text-shadow: 0px 0px 2px rgba(0,0,0,.17);
			&::after {
				position: absolute;
				top: 10px;
				bottom: 10px;
				width: 1px;
				right: 0;
				content: '';
				background: rgba(255,255,255,.3);
			}
			&:nth-child(1){
				background: rgba(255,255,255,.2);
				&::after {
					display: none;
				}
			}
			&:nth-child(3){
				width: 25%;
				.lnr {
					font-size: 15px;
					margin-bottom:5px;
				}
			}
			&:nth-child(2){
				img {
					height: 31px;
    				margin: 8px auto 2px;
				}
			}
			&:last-child {
				&::after {
					display: none;
				}
				img {
					height: 20px;
					margin: 4px auto 8px;
				}
			}
			span {
				width: 100%;
				&.lnr {
					font-size: 18px;
					margin-bottom:5px;
					&.lnr-faq {
						background: url(../../imgs/homepage/footer_faq-01.svg) no-repeat center;
						width: 100%;
						height: 18px;
						margin-top: -6px;
						margin-bottom: 7px;
					}
				}
			}
			img {
				
				height: 35px;
				margin: 6px auto 3px;
			}
		}
	}
}

@media (max-width:374px){
	.home{
		.primary-buttons{
			top: 160px;
			> div {
				font-size: 14px;
				> div{
					img{
						margin-bottom: 10px;
					}
				}
			}
		}
	}
}