
.rtl {
  .calculator-div {
    .calculator-top {
      h3 {
        font-family: $fontBoldArabic!important;
      }
      p {
        font-family: $fontRegularArabic;
      }
    }
  }
}

.currency-converter {
  .isLoaded {
    background-color: #fff!important;
    scroll-content {
      padding-top: 0px!important;
    }
  }
}
.calculator-div{
  color: $whiteColor;
  text-align:center;
  font-family: $fontDefault;
  height: 100%;
  font-size: 15px;

  .calculator-top{
    background: url(../../imgs/currency-converter/bg-calculator.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    > div{
      padding: 90px 20px 20px;
    }
    h3{
      font-size: 22px;
    }
    p {
      color: #fff;
    }
  }

  .currency-list{
    .calculator-switcher{
      position:absolute;
      left: 50%;
      top: 35px;
      margin-left: -14px;
      z-index: 5;
    }
    display: flex;
    width: 100%;
    flex: 1 100%;
    flex-direction: column;
    height: 95px;
    position: relative;
    z-index: 2;
    &.toggleCurrency {
      .currency-line {
        &:nth-child(2){
          
          order: 2;
        }
        &:last-child{
          
          order: 3;
        }
      }
    }
    .currency-line{

      display: flex;
      flex: 1 100%;
      color: $blackColor;
      padding: 12px 20px;
      height: 47px;
      line-height: 23px;
      
      & > div{
       display: flex;
      flex: 1 100%;
        font-size: 14px;
        
        &:first-child{
          text-align: left;
        }
        &:last-child{
          text-align: right;
          justify-content: flex-end;
          span{
            font-size: 12px;
          }
        }
      }
      .currency-selector {
        padding: 0 5px 0 0;
        max-width: 85%;
        &.hideSelect {
          display: none;
        }
        .select-icon .select-icon-inner {
          color: #fff;
          margin-top: 0px;
        }
      }

      &:nth-child(2){
        background-color: #fff;
        order: 3;
      }
      &:last-child{
        background:#12b8ce;
        order: 2;
        border-bottom:1px solid #89dee9;
        color: $whiteColor;

        > div select{
          color: $whiteColor;
          font-size: 14px;
          -webkit-appearance: none;
        }
      }
      &:after{
        display: none;
        content: '';
        clear: both;
        width: 100%;
        height: 1px;
      }
    }
  }

  .calculator-bottom{
    position:absolute;
    height: 50%;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .calculator{
    background:#12b8ce;
    padding: 20px;
    height: calc(100% - 94px);
    z-index: 5;
    position: relative;
    ul{
      list-style: none;
      margin: 0;
      padding: 0;
      overflow:hidden;
      height: 100%;

      li{
        display: block;
        width: 33.3333333%;
        float: left;
        height: 25%;
        border-top: 1px solid #41c4d5;
        border-left: 1px solid #41c4d5;
        font-family: $fontDefaultBold;

        div{
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
        }

        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3){
          border-top: 0;
        }
        &:nth-child(3n+1){
          border-left: 0;
        }

        span.back{
          display: inline-block;
          width: 23px;
          height: 14px;
          background: url(../../imgs/currency-converter/icon-back.png) center center/100% auto no-repeat;
          margin: auto;
        }
      }
    }
  }
}

