<top-bar [poppage]="true" [blackStyle]="scrollBar" [isLoaded]="detailsBG" ></top-bar>
<ion-content [class.isLoaded]="detailsBG">
<div class="calculator-div">

	<div class="calculator-top" style="background-image: url(./imgs/currency-converter/bg-calculator.jpg);">
		<div class="top-content">
			<h3>{{item.name}}</h3>
			<p>{{item.subtitle}}</p>
		</div>
	</div>
	<div class="calculator-bottom">

		<div class="currency-list" [class.toggleCurrency]="isAEDFrom">
			<img src="./imgs/currency-converter/icon-calculator-switcher.png" width="29" tappable (click)="switchCurrency()" class="calculator-switcher">
			<div class="currency-line">
				<div class="currency-name">UAE Dirham</div>
				<div class="currency-unit"><span>AED</span> &nbsp; {{showNumber}}</div>
			</div>

			<div class="currency-line">
				<div class="currency-name">
					<ion-select class="currency-selector" [selectOptions]="selectOptions"  multiple="false" cancelText="Close" okText="Select" (ionChange)="selectCurrency($event)">
      					<ion-option *ngFor="let item of currencies" value="{{item.code}}" [selected]="item.code == selectModel">{{item.name}}</ion-option>
					</ion-select>
				</div>
				<div class="currency-unit"><span>{{selectModel}}</span>&nbsp;  {{converted}}</div>
			</div>
		
		</div>

		<div class="calculator">
			<ul>
				<li tappable (click)="clickNumber($event)"><div>1</div></li>
				<li tappable (click)="clickNumber($event)"><div>2</div></li>
				<li tappable (click)="clickNumber($event)"><div>3</div></li>
				<li tappable (click)="clickNumber($event)"><div>4</div></li>
				<li tappable (click)="clickNumber($event)"><div>5</div></li>
				<li tappable (click)="clickNumber($event)"><div>6</div></li>
				<li tappable (click)="clickNumber($event)"><div>7</div></li>
				<li tappable (click)="clickNumber($event)"><div>8</div></li>
				<li tappable (click)="clickNumber($event)"><div>9</div></li>
				<li tappable ><div>.</div></li>
				<li tappable (click)="clickNumber($event)"><div>0</div></li>
				<li tappable (click)="removeNumber($event)"><div><span class="back"></span></div></li>
			</ul>
		</div>
	</div>
</div>
</ion-content>