 <div class="filter-popup" >
    <div class="popup-header">
      <span class="popup-close" tappable (click)="save()">{{'Done' | translate}}</span>
      <!-- <span class="popup-save" tappable (click)="save()"><ion-icon name="checkmark"></ion-icon></span> -->
      {{'Share' | translate }}
    </div>
    <div class="popup-content">
      <div class="popup-list">
        <label tappable  class="label" (click)="sharePage('email')">
         <span class="icon-envelope"></span> {{'Email' | translate }}
        </label>
      </div> 
      <div class="popup-list">
        <label tappable  class="label" (click)="sharePage('facebook')">
         <span class="icon-social-facebook"></span> {{'Facebook' | translate }}
        </label>
      </div> 
      <div class="popup-list">
        <label tappable  class="label" (click)="sharePage('twitter')" >
         <span class="icon-social-twitter"></span> {{'Twitter' | translate }}
        </label>
      </div> 

    </div>
  </div>
 