<div class="visitor-support">
  <top-bar [blackStyle]="scrollBar"></top-bar>
    <card-list [listHeader]="true" [iconHeader]="'support'" [titleHeader]="'Visitor Support' | translate" [descriptionHeader]="'Before travelling, learn about the history of Ajman, our culture and customs, and other information to help you plan your visit.' | translate" (scrollBar)="scrolled($event)" [showMap]="false" [filters]="false" [alias]="'static'" [filterValues]="null" [filterFields]="[id]" [itemsFiltered]="items" [sortBy]="'sortIds'" [title]="'Read More' | translate" *ngIf="items"></card-list>

</div>