<div *ngIf="item">
    <div *ngIf="item.type == 224 || item.type == 222 || item.type == 195">
        <div class="rating" *ngIf="item.rating == 14">
            <span class="fill">☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
        </div>
        <div class="rating" *ngIf="item.rating == 15">
            <span class="fill">☆</span><span class="fill">☆</span><span>☆</span><span>☆</span><span>☆</span>
        </div>
        <div class="rating" *ngIf="item.rating == 16">
            <span class="fill">☆</span><span class="fill">☆</span><span class="fill">☆</span><span>☆</span><span>☆</span>
        </div>
        <div class="rating" *ngIf="item.rating == 17">
            <span class="fill">☆</span><span class="fill">☆</span><span class="fill">☆</span><span class="fill">☆</span><span>☆</span>
        </div>
        <div class="rating" *ngIf="item.rating == 18">
            <span class="fill">☆</span><span class="fill">☆</span><span class="fill">☆</span><span class="fill">☆</span><span class="fill">☆</span>
        </div>
    </div>
    <div *ngIf="item.type == 196 || item.type == 223">
        <div *ngIf="item.hotelApartmentsRating == 230">
            {{'Premium' | translate}}
        </div>
        <div *ngIf="item.hotelApartmentsRating == 229">
            {{'Standard' | translate}} 
        </div>
    </div>
</div>