

$whiteColor: #fff;
$blackColor: #000;
$blueColor: #071689;
$startColor: #11a0b4;
$endColor: #13c0d7;
$greyColor: #7d8991;
$textGreyColor: #575757;

@mixin gradient($startColor, $endColor, $direction){
  background: $startColor;
  background: -webkit-linear-gradient($direction,  $startColor 0%,$endColor 100%);
  background: linear-gradient(to $direction,  $startColor 0%,$endColor 100%);
}

html[dir="rtl"] {
  .details-section {
    .details-top-content {
      h3 {
        font-family: $fontBoldArabic!important;
      }
      p {
        font-family: $fontRegularArabic;
      }
    }
    .details-top-features {
      li {
        padding: 4px 14px 4px 10px!important;
        text-align: right;
        font-family: $fontRegularArabic;
        &:after {
          left: auto;
          right:0px;
        }
      }
    }
  }
  .staycation-list {
    .details-container {
      h4 {
        font-family: $fontBoldArabic;
      }
      p {
        font-family: $fontRegularArabic;
      }
    }
    .details-list {
      li {
        padding: 4px 14px 4px 10px!important;
        text-align: right;
        font-family: $fontRegularArabic;
        &:before {
          left: auto;
          right:0px;
        }
      }
      p {
        font-family: $fontRegularArabic;
      }
    }
    .details-related-container {
      h4 {
        font-family: $fontRegularArabic;
      }
      
    }
  }
  .trips .content-header{
    line-height:1.8;
  }
}
@keyframes contentLeave {
  0% { opacity: 1; transform: translateX(0%); }
  100% { opacity: 0; transform: translateX(10%); }
}
@keyframes  bgLeave {
  0% { opacity: 1; transform: translateY(0%); }
  100% { opacity: 0; transform: translateY(-10%); }
}
.trip-details{

  &.details-wrapper {
    position: absolute;
    padding-bottom: 0px;
    background: tranparent;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    .bg-image-detail {
      height: 100%!important;
    }
    ion-content{
      &.general {
        // -webkit-mask-image: -webkit-gradient(linear, left 10%, left top, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
        // top: 70px;
      }
      &.exit-page {
      // animation: contentLeave .3s ease-out forwards;
      }
      -webkit-transform: translateZ(0) translate3d(0px, 0px, 0px);
      scroll-content {
        -webkit-transform: translateZ(0) translate3d(0px, 0px, 0px);
      }
      position: relative;
      right: 0;
      left: 0;
      bottom: 65px;
      top: 0;
      background-color: #fff;

      
    }
      .details-top{
        font-size: 15px;
        padding-top: 30px;
        min-height: 1px;
        color: $whiteColor;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        text-align: center;
        text-shadow: rgba(0, 0, 0, .1) 1px 1px 0px;
        display: flex;
        justify-content: center;
        align-items: center;

        
      }
  }

.details-section{
  font-family: $fontRegular;
  font-size: 17px;

  color: $blackColor;
  line-height: 1.5;
  padding-bottom:0;
  display: inline-block;
  width: 100%;
  height: 100%;
  padding-top:0px;
  img{
    vertical-align: top;
  }

  h3,h4,p,ul{
    margin-bottom: 15px;
  }
  p{
    color: $whiteColor;
  }

  .details-top-content{
    position: relative;
    z-index: 2;
    height: 93%;
    margin-top: 30px;
    transform: translateZ(0) translate3d(0px, 0px, 0px);
    h3{
      font-family: $fontBold;
      font-size: 24px;
      margin-bottom: 8px;
    }
    p{
      margin-bottom: 25px;
      font-size:15px;
    line-height: 22px;
    }
    img{
      margin-bottom: 8px;
    }
  }
.details-section .related-container hotel-rating .rating{
  font-size: 12px;
  margin-bottom: 0;
}
.related-container card-list .list .list-wrapper{
  height: calc(100% - 15px);
}
  .details-top-features{
    text-align: left;
    background: rgba(0,0,0,.4);
    padding: 15px 20px;
    margin-top: 10px;

    ul{
      overflow: hidden;
      margin: 0;
      padding: 0;
      list-style: none;
      &:last-child{
        margin-bottom: 0;
      }
    }
    li{
      font-size: 15px;
      padding: 4px 8px 4px 16px;
      position:relative;

      &:after{
        display: block;
        content: '';
        background: $whiteColor;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        position: absolute;
        left: 0;
        top: 14px;
      }
    }
  }
  .details-container{
    padding: 20px 25px;
    transform: translateZ(0) translate3d(0px, 0px, 0px);
    p{
      color: $blackColor;
      &:last-child{
        margin-bottom:0;
      }
    }
    img{
      max-width: 100%;
      margin-bottom: 15px;
    }
  }
  .details-box{
    border-top: 1px solid #ccc;
    padding: 15px 25px;
    color: $blackColor;
  }
  .details-map{
    height: 230px;
    position: relative;
    overflow: hidden;
    img {
      max-width: 100%;
    }

  &:before{
    display: block;
    content: '';
    position:absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 9;
  }
    .details-map-link{
      position:absolute;
      left: 20px;
      bottom: 10px;
      background: rgba(0,0,0,.2) url(../../imgs/icons/icon-map-link.png) center center/27px auto no-repeat;
      display: block;
      width: 47px;
      height: 47px;
      -webkit-border-radius: 50%;
      border-radius: 50%; 
      z-index: 10;
    }
  }
  .details-list{
    color: $blueColor;
    padding: 0px 25px 20px;

    ul{
      list-style:none;
      margin: 0;
      padding: 0;
      border-top: 1px solid #f2f2f2;
      &:last-child{
        margin-bottom: 0;
      }
    }
    li{
      font-size: 15px;
      padding: 4px 0 0 16px;
      position: relative;

      &:before{
        content: '';
        display: block;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: $blueColor;
        position: absolute;
        left: 0;
        top: 14px;
      }
    }
    h3{
      font-size: 17px;
      font-weight: normal;
    }
  }
}
.staycation-list {
  &:last-child {
    // padding-bottom: 60px;
  }
  background: $whiteColor;
  .details-container{
    h4{
      font-size: 18px;
      color: $textGreyColor;
    }
  }
}
.details-related-container{
  padding: 30px 0px 65px;
  background: #fff;
  color: $whiteColor;
  position:relative;
  // height: 330px;
  overflow: hidden;
  ion-content {
    height: auto!important;
    background-color: transparent;
    scroll-content {
      position: relative;
      overflow: hidden;
      
    }
  }
     
  card-list {
    position: relative;
    .card-list-container {
        background: transparent;
      .list {
        top: 0;
        margin-top: 0px;
        min-height:1px;
        padding-bottom:0px;
        background: transparent!important;
        .list-container {
          scroll-content {
            position: relative;
            overflow: scroll;

          }
        }
        .list-header {
          // display: none;
        }
        .cards-scroll.no-scroll {
          scroll-content {
            overflow-y: scroll;
          }
        }
        card-list-item {
           &:last-child {
            margin-top: -10px;
            ion-card{
                &.expanded {
                  ion-card-content {
                    display: block!important;
                  }

                }
                min-height: 0;
                
                margin-bottom: 2px;
                ion-card-content {

                  display: none!important;
                }
              }
            }
          
        }
      }
    }
  } 
  h4{
    text-transform: uppercase;
    font-size: 13px;
    font-weight: normal;
    padding: 0 15px;
  }
  .related-container{
    position:relative;
    // height: 270px;
    overflow: hidden;
    card-list {
      height: auto!important;
    }
  }
}
.details-tabs-bottom{
  position: absolute;
  z-index: 100;
  left: 0;
  right: 0;
  bottom: -70;
  height: 65px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  flex-direction: column;

  transition: bottom .3s;
  will-change: bottom;
  &.hide-bottom {
    bottom:-70px!important;
  }
   &.show-bottom {
    bottom:0px;
  }

  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.13);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.13);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.13);

  @include gradient($startColor, $endColor, top);

  div{
    text-align: center;
    position: relative;
    flex: 1 100%;
    align-items: center;

    &:after{
      display:block;
      content: '';
      position: absolute;
      right: 0;
      width: 1px;
      top: 10px;
      bottom: 10px;
      background: rgba(255,255,255,.2);
    }
    a{
      display: block;
    }
    img{
      &.disabled {
        opacity: .5;
      }
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
    }
  }
}
}
a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
.gmnoprint div {
    background:none !important;
}
.trips {
  card-list .list{
    margin-top: -30px;
  }
 
}
@media (max-width:374px){
  .details-section .details-container{
    padding: 20px;
  }
  .details-section .details-box{
    padding: 15px 20px;
  }
  .details-section .details-top-content,
  .trip-details .details-section .details-container,
  .details-section .details-list{
    padding: 20px;
  }
  .trip-details .details-section .details-list{
    padding:0px 20px 20px;
  }
}