<div class="details-wrapper trip-details"  [class.no-bg]="exitPage" [class.white-bg]="detailsBG" >
	<top-bar poppage="true" [blackStyle]="scrollBar" [isLoaded]="detailsBG" ></top-bar>
	

    
    <ion-content #scrollContent class="general" [class.exit-page]="exitPage" >
		<div class="details-section">
		
			<div class="details-top" >
			<div class="bg-image-detail"  [ngStyle]="{'background-image': 'url(' + item.featuredImage + ')', 'height': '100%'}"></div>
				<div class="details-top-content">
					<img src='./imgs/trips/icon-staycation-category.png' width="102" height="102" alt="">
					<h3 class="title">{{item.name}}</h3>
					<p class="details" [innerHTML]="item.description"></p>
					<div class="details-top-features" [innerHTML]="item.keyFacts"></div>
				</div>
				
			</div>
			
			<div #scrollDay *ngFor="let day of item.days; let i = index" class="staycation-list">
				<div class="details-container">
					<h4>{{day.name}}</h4>
					<img src="{{day.bgImage}}">
					<span [innerHTML]="day.description"></span>
				</div>
				<div class="details-map">
					<!-- <ajman-map *ngIf="detailsBG" [placeIcon]="'activity'" [center]="day.location" [showMyLocation]="false" [elmID]="i" ></ajman-map> -->
					<img *ngIf="detailsBG" src="https://maps.googleapis.com/maps/api/staticmap?center={{day.latitude}},{{day.longitude}}&zoom=16&size=750x460&maptype=roadmap&markers=icon:http://dubai.mblm.com/ramadan/pins/pin-destination-hd.png%7C{{day.latitude}},{{day.longitude}}&key=AIzaSyBs-DmzTJIwbcuwitSCaVpRXEnnO0W9zwU" alt="">
					<a class="details-map-link" href="#" (click)="openURL(day)"></a>
				</div>
				<div class="details-list">
					<span [innerHTML]="day.activities"></span>
				</div>
				
			</div>
			<div class="details-related-container" >
				<div class="related-container">
					<!-- <card-list [showMap]="false" [filters]="false" [alias]="'static'" [filterValues]="null" [filterFields]="[id]" *ngIf="detailsBG" [itemsFiltered]="recommended" [sortBy]="'sortIds'" [title]="'RECOMMENDED ACCOMMODATION'"></card-list> -->
				</div>
			</div>
			
		</div>
	</ion-content>

	<div class="details-tabs-bottom" [class.hide-bottom]="exitPage"  [class.show-bottom]="detailsBG">
		
		<div (tap)="toggleFavorite()"  *ngIf="!item.favorite"><img src="./imgs/icons/icon-fav.svg" width="25" ></div>
        <div (tap)="toggleFavorite()"  *ngIf="item.favorite"><img src="./imgs/icons/icon-fav-active.svg" width="25" ></div>
		<!-- <div ><img src="./imgs/trips/icon-calendar.svg" width="26" height="27"></div> -->
		<div (tap)="scrollToDay('down')" tappable><img src="./imgs/trips/icon-arrow-down.svg" [class.disabled]="disableBottomButton" width="24" height="15"></div>
		<div (tap)="scrollToDay('up')" tappable><img [class.disabled]="disableTopButton" src="./imgs/trips/icon-arrow-up.svg" width="24" height="15"></div>
		<div><share-button [item]="item"></share-button></div>
	</div>
</div>