@font-face {
   font-family: 'Albert_Bold';
   src: url('../../fonts/fsalbertpro-bold-webfont.eot');
   src: url('../../fonts/fsalbertpro-bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/fsalbertpro-bold-webfont.woff2') format('woff2'),
        url('../../fonts/fsalbertpro-bold-webfont.woff') format('woff'),
        url('../../fonts/fsalbertpro-bold-webfont.ttf') format('truetype'),
        url('../../fonts/fsalbertpro-bold-webfont.svg#fs_albert_probold') format('svg');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'Albert_Regular';
   src: url('../../fonts/fsalbertpro-regular-webfont.eot');
   src: url('../../fonts/fsalbertpro-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/fsalbertpro-regular-webfont.woff2') format('woff2'),
        url('../../fonts/fsalbertpro-regular-webfont.woff') format('woff'),
        url('../../fonts/fsalbertpro-regular-webfont.ttf') format('truetype'),
        url('../../fonts/fsalbertpro-regular-webfont.svg#fs_albert_proregular') format('svg');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'Arabic_Bold';
   src: url('../../fonts/subset-FSAlbertArabic-Bold.eot');
   src: url('../../fonts/subset-FSAlbertArabic-Bold.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/subset-FSAlbertArabic-Bold.woff2') format('woff2'),
        url('../../fonts/subset-FSAlbertArabic-Bold.woff') format('woff'),
        url('../../fonts/subset-FSAlbertArabic-Bold.ttf') format('truetype'),
        url('../../fonts/subset-FSAlbertArabic-Bold.svg#FSAlbertArabic-Bold') format('svg');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'Arabic_Regular';
   src: url('../../fonts/subset-FSAlbertArabic-Regular.eot');
   src: url('../../fonts/subset-FSAlbertArabic-Regular.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/subset-FSAlbertArabic-Regular.woff2') format('woff2'),
        url('../../fonts/subset-FSAlbertArabic-Regular.woff') format('woff'),
        url('../../fonts/subset-FSAlbertArabic-Regular.ttf') format('truetype'),
        url('../../fonts/subset-FSAlbertArabic-Regular.svg#FSAlbertArabic-Regular') format('svg');
   font-weight: normal;
   font-style: normal;
}

$whiteColor: #fff;
$blackColor: #000;
$blueColor: #071689;
$fontRegular: 'Albert_Regular';
$fontBold: 'Albert_Bold';
$fontRegularArabic: 'Arabic_Regular';
$fontBoldArabic: 'Arabic_Bold';

body {
	&.rtl-class{
		direction: rtl;
	}
}

.splash {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../../imgs/splash.png) no-repeat center;
  background-size: cover;
  z-index: 1000000;
}


ion-modal ion-backdrop {
  visibility:visible!important;
  opacity: .7!important;
}
ion-modal .modal-wrapper {
  position: relative;
  pointer-events: none;
}

ion-modal {
  transform: translateZ(0) translate3d(0px, 0px, 0px);
  .modal-wrapper {
    position: relative;
    pointer-events: none;
    ion-page, .settings {
      pointer-events: none;
      & > div {
        pointer-events: all;
      }
    }
  }
}
button {
  box-shadow: none;
}
html {
  &[lang="ar"] {
    body {
      font-family: $fontRegularArabic;  
    }   
  }
  body {
    font-family: $fontRegular;  
  }
  
}


* {
  -webkit-backface-visibility: hidden;

}

ion-content, ion-page {
  transform: translateZ(0) translate3d(0px, 0px, 0px);
}

::-webkit-scrollbar,
*::-webkit-scrollbar {
    display: none;
}

ion-loading {
  .loading-wrapper {
    background: transparent;
    color: #fff;
  }
}
.card-list-container{
  width:100%;
  height: 100%;
}


    #panorama {
        width:100%;
        top:70px;
        bottom: 0;
        position: absolute;
        background: #fff;
    }
    .virtual-tour {
      .closevTour {
        position: absolute;
        top: 10px;
        left: 10px;
        color: #373737;
        width: 50px;
        height: 50px;
        z-index: 5;
        font-size: 25px;
        text-align: center;
        padding-top: 8px;
      }  
    }
    
// ion-modal {
//   .modal-wrapper  {
//     position:relative;
//     z-index: 3;
//   }
//   ion-backdrop
//   {
//     visibility: visible;
//     opacity: 0.8 !important;
//   }
//   ion-page{
//     max-height: 230px;
//     background: rgba(0,0,0,0.5);
//     margin-top: calc(50% + 25px);
//     .swiper-pagination{
//       display: block !important;
//       .swiper-pagination-bullet{
//         background: white;
//         opacity: 0.5;
//       }
//       .swiper-pagination-bullet.swiper-pagination-bullet-active{
//         opacity: 1;
//       }
//     }
//   }
// }

.rating {
  unicode-bidi: bidi-override;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
  color:#afe8ef;
}
.rating > span.fill:before,
.rating > span.fill ~ span.fill:before {
  content: "\2605";
  position: absolute;
}