html[dir="rtl"] {
    card-list {
        .list {
            .list-header {
                div {
                    float: right;
                    &.title-col {
                        padding-left: 0;
                        padding-right: 15px;
                        .list-title{
                            height: 34px;
                            padding-top: 2px;
                        }
                    }
                    &.filter-col {
                        padding-left: 15px;
                        padding-right: 0px;
                        text-align: left;

                        .button-icon-left ion-icon{
                            padding-right: 0;
                            padding-left: .3em;
                        }
                    }
                }
                button{
                    margin: 0;
                    span {
                        padding-left: 0;
                        padding-right: 5px;
                        span{
                            padding-right: 0;
                            padding-top: 4px;
                        }
                    }
                }
            }
            .list-items {
                card-list-item {
                    ion-card {
                        hotel-rating{
                            float: left;
                        }
                        .card-image {
                            transform: translateX(-1%) rotateX(-10deg);
                        }
                        ion-card-header {
                            favorite-button {
                                float: right;
                                margin-right: 0;
                                margin-left: 10px;
                            }
                        }
                        .card-title {
                            float: right;
                            font-family: $fontRegularArabic;
                            line-height:1.3;
                            padding-top: 14px;
                            padding-bottom: 10px;
                        }
                        nearby-info,
                        .distance,
                        .trip-duration {
                            float: left;
                        }
                        nearby-info{
                            img{
                                float: right;
                            }
                            span.nearby-distance{
                                padding-top: 0;
                                float: left;
                                margin-left: 0;
                                margin-right: 15px;
                            }
                        }
                        .card-text {
                            font-family: $fontRegularArabic;
                        }
                        .corner-button{
                            -webkit-transform: scaleX(-1);
                            transform: scaleX(-1);
                            right: auto;
                            left: 0;
                        }
                    }
                }
            }
        }
    }
}
@keyframes bgAnimationCard {
  0% { opacity: 0; transform: translateY(-10%) translateZ(0) translate3d(0px, 0px, 0px); }
  100% { opacity: 1; transform: translateY(-0%) translateZ(0) translate3d(0px, 0px, 0px); }
}
.favourites-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color:#f4f4f4;
}

.hotels {
	width: 100%;
	height: 100%;
	position: relative;
	.content-wrapper {
		position: absolute;
		margin-top: 70px;
		height: calc(100% - 70px);
		width:100%;		
	}

}

.card-list-container {
    background: #e1e1e1;

    &.noShadow {
        &:after {
            display: none!important;
        }
        .list {
            background: transparent!important;
            .no-list-results {
                margin-top: 40px;
            }
        }
    }
    &.static-content {
         &:after{
            z-index: 1;
            height: 300px;
            display: block;
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            background: -moz-linear-gradient(top,  rgba(225,225,225,0) 0%, rgba(225,225,225,1) 60%, rgba(225,225,225,1) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top,  rgba(225,225,225,0) 0%,rgba(225,225,225,1) 60%,rgba(225,225,225,1) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom,  rgba(225,225,225,0) 0%,rgba(225,225,225,1) 60%,rgba(225,225,225,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00e1e1e1', endColorstr='#e1e1e1',GradientType=0 ); /* IE6-9 */
          }
        background: transparent;
        .content-header {
            width: 100%;
            padding: 30% 20px;
            text-align: center;
            color: #fff;
            display: flex;
            align-items: center;
            flex-direction: column;
            position: relative;
            z-index: 1;
            img {
                max-height: 99px;
                max-width: 99px;

            }
            h2 {
                font-weight: bold;
            }
            img, p, h2 {
                display: flex;
                width: 100%;
                justify-content: center;
                margin: 5px 0;
                color: #fff;
            }
            div {
                margin-top: 20px;
                span {
                    background: rgba(0, 0, 0, 0.6);
                    border-radius: 50%;
                    width: 50px;
                    height: 50px;
                    font-size: 24px;
                    display: inline-block;
                    padding: 13px;
                    margin: 0 15px;
                }
                
            }
        }
        .list {
            margin-top: -90px;
            pointer-events: all;
            z-index:5;

        }
    }
    ajman-map{
        &:after{
            z-index: 3;
            height: 200px;
            display: block;
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e1e1e1+0,e1e1e1+60,e1e1e1+100&0+0,1+60,1+100 */
            background: -moz-linear-gradient(top,  rgba(225,225,225,0) 0%, rgba(225,225,225,1) 60%, rgba(225,225,225,1) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top,  rgba(225,225,225,0) 0%,rgba(225,225,225,1) 60%,rgba(225,225,225,1) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom,  rgba(225,225,225,0) 0%,rgba(225,225,225,1) 60%,rgba(225,225,225,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00e1e1e1', endColorstr='#e1e1e1',GradientType=0 ); /* IE6-9 */
        }
    }
}

ajman-map {
    position: fixed;
    z-index: 3;
    height: 70%;
    display: inline-block;
    width: 100%;
    > div{
        height: 100%;
    }
}
.related-container {
    .list-container {
        height: 264px!important;
        ion-card-content {
            min-height: 180px!important;
        }
    }
}

div.trips-filters {
    margin-top: -100px;
    margin-bottom: 120px;
    text-align: center;
    position: relative;
    z-index: 2;
    span {
        &.selected {
            background: transparent;
            &.first-load {
                background: rgba(0, 0, 0, 0.6);
                &:after {
                    display: none;  
                }
            }
            &:after {
                content: '\f00c';
                background: rgba(19, 192, 215, 0.5);
                font: normal normal normal 14px/1 FontAwesome;
                font-size: inherit;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                width: 66px;
                height: 66px;
                color: #fff;
                border-radius: 50%;
                font-size: 40px;
                padding-top: 13px;
                box-sizing: border-box;

            }

        }
        position: relative;
        background: rgba(0, 0, 0, 0.6);
        border-radius: 50%;
        width: 66px;
        height: 66px;
        font-size: 30px;
        display: inline-block;
        padding: 13px;
        margin: 0 15px;
        line-height: 40px;
        color: rgba(255,255,255,.8);
    }
    
}

.list-container {

    .infinite-loading{
        background:none;
        padding:10px 15px;
        margin: 0;
        position:absolute;
        bottom:0;
        width: 100%;

        .infinite-loading-spinner{
            padding-top:4px;
            position: relative;
            top: 3px;
        }

        .spinner-bubbles {
            circle{
                fill: #000;
            }
        }
        .infinite-loading-text{
            color: #000;
        }
    }
}

ion-content {
    &.no-scroll > scroll-content {
        overflow-y: hidden;
    }
}
card-list {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: inline-block;  
    .list-container {
        position: relative;
        z-index: 3;
    }
    .list{
        
        background: -moz-linear-gradient(top,  rgba(225,225,225,0) 0%, rgba(225,225,225,1) 60%, rgba(225,225,225,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  rgba(225,225,225,0) 0%,rgba(225,225,225,1) 60%,rgba(225,225,225,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  rgba(225,225,225,0) 0%,rgba(225,225,225,1) 60%,rgba(225,225,225,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00e1e1e1', endColorstr='#e1e1e1',GradientType=0 ); /* IE6-9 */
        min-height: 300px;
        position:relative;
        margin-top: 100%;
        pointer-events: none;
        ion-content{
            z-index:2;
        }
        .list-header{
            padding:5px 0;
            position:relative;
            z-index: 10;
            overflow-y: hidden;
            background:#646262;
            margin-right: 15px;
            margin-left: 15px;
            border-radius: 7px 7px 0 0;
            margin-bottom: -10px;
            -webkit-transform: translateZ(0) translate3d(0px, 0px, 0px);
            transform: translateZ(0) translate3d(0px, 0px, 0px);
                div{
                    float: left;
                }
                button {
                    background: none !important;
                    background-color: none !important;
                    box-shadow: none !important;
                    text-align: left;
                    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.35);
                    vertical-align: top;
                    margin:3px 0 0;
                    padding:0;
                    height: auto;
                    font-size: 14px;
                    pointer-events: all;
                    padding: 0;
                    ion-icon {
                        float:left;
                    }
                    span{
                        text-transform: uppercase;
                        line-height: 30px;
                        padding-left: 5px;
                        span{
                            padding-left: 0;
                        }
                    }
                }

            }
            .noItems {
                position:absolute;
                top: 50%;
                width: 100%;
                text-align: center;
                background: rgba(0,0,0,.6);
                color: #fff;
                padding: 20px 0;
                font-size: 18px;
                display: none;
            }
            .title-col{
                padding-left: 15px;
                font-size: 13px;
                color: rgb(255,255, 255);
                text-transform: uppercase;
                text-align: left;
                text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.35);
                height: auto;
                width: 70%;
                line-height: 34px;
            }
            .filter-col{
                width: 30%;
                text-align:right;
                padding-right: 15px;
            }
            .list-content {
                position: absolute;
                top: 30px;
            }
            .scroll-cover {
                position: absolute;
                bottom:0;
                left:0;
                right:0;
                top:30px;
                background: transparent;
            }
            .cards-scroll {
                // -webkit-mask-image: -webkit-gradient(linear, left 5%, left top, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
            }
        

        .list-wrapper{
            left: 0;
            right: 0;
            bottom: 0;
            margin: 0 6px;
            overflow: hidden;
            border-radius: 8px 8px 0 0;
            height: calc(100% - 40px);
            width: calc(100% - 12px);
            -webkit-overflow-scrolling: touch;
            will-change: scroll-position;
        }
        .list-items{

            card-list-item{
                &:nth-child(5n+1) {
                    .img-wrapper {
                        .card-image {
                            background: #d61366!important;
                        }
                    }
                }
                &:nth-child(5n+2) {
                    .img-wrapper {
                        .card-image {
                            background: #e16a2c!important;
                        }
                    }
                    
                }
                &:nth-child(5n+3) {
                    .img-wrapper {
                        .card-image {
                            background: #071689!important;
                        }
                    }
                    
                }
                &:nth-child(5n+4) {
                    .img-wrapper {
                        .card-image {
                            background: #b38877!important;
                        }
                    }
                    
                }
                &:nth-child(5n+5) {
                    .img-wrapper {
                        .card-image {
                            background: #13c0d7!important;
                        }
                    }
                    
                }

                // animation: bgAnimationCard .3s ease-in;
                
                position:relative;
                display: block;
                height: auto;
                width: 100%;
                margin: 0 0 -15px 0;
                z-index: 10;
                overflow: hidden;
                &:last-child ion-card,
                ion-card.expanded {
                    &.no-img {
                        .img-plc {
                            display: none;
                        }
                    }
                    height: auto;
                    max-height: 310px;
                    margin: 9px 2px -2px;
                    background:#888;
                    border: solid 1px #333;
                    border-radius: 8px 8px 6px 6px;
                    overflow: hidden;
                    .card-image{
                        transform: none;
                        box-shadow: none;
                        border: 0;
                        width: 100%;
                        left: 0;
                        top: 0;
                    ion-img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        img{
                            width: 4000px !important;
                            max-width: 600px !important;
                            min-height: 100%;
                            position: absolute;
                            left: 0;                        
                        }
                    }
                        
                    }
                    .img-wrapper{
                        height: 310px;
                        border-radius: 7px 7px 5px 5px;
                        overflow: hidden;
                        -webkit-transform: translateZ(0) translate3d(0px, 0px, 0px);
                        transform: translateZ(0) translate3d(0px, 0px, 0px);
                    }
                    ion-card-header{
                        padding-top: 6px;
                        padding-right: 22px;
                        padding-left: 19px;
                        padding-bottom: 4px;
                    }
                }
                &:last-child{
                    margin-bottom: 0;
                    ion-card{
                        min-height: 255px;
                        ion-card-content{
                            display: block!important;
                        }
                    }
                }
                ion-card {
                    position: relative;
                    margin: auto;
                    width: auto;
                    background:none;
                    border-radius: 0;
                    pointer-events: all;
                    text-shadow: rgba(0, 0, 0, .1) 1px 1px 0px;
                
                    
                    .img-wrapper{
                        height: 85px;
                        perspective: 600px;
                        position:absolute;
                        left: 0;
                        right: 0;
                        top: 0;
                        bottom: 0;
                        -webkit-transform: translateZ(0) translate3d(0px, 0px, 0px);
                    }
                    .card-image, .img-plc{
                        position:absolute;
                        top:9px;
                        bottom:0;
                        right:0;
                        background:#8e9194;
                        border: solid 1px #333;
                        box-shadow: 0px -4px 8.64px 0.36px rgba(0, 0, 0, 0.19);
                        border-radius: 8px;
                        transform: translateX(-50%) rotateX(-10deg);
                        width: 98%;
                        left: 50%;
                        overflow: hidden;
                        
                        .img-placeholder{
                            opacity: 0.35;
                            background: #000;
                            z-index: 2;
                        }
                    }   
                    .card-image {
                        -webkit-transform: translateZ(0) translate3d(0px, 0px, 0px) translateX(-50%) rotateX(-10deg);
                        img {
                            position: relative;
                            z-index:1;
                            -webkit-transform: translateZ(0) translate3d(0px, 0px, 0px);
                        }
                        &:after {
                            position:absolute;
                            z-index:2;
                            top:0;
                            bottom:0;
                            right:0;
                            left:0;
                            background:rgba(0,0,0,.1);
                            content: '';
                            -webkit-transform: translateZ(0) translate3d(0px, 0px, 0px);
                        }

                    }
                    .corner-icon{
                        position: absolute;
                        bottom: 2px;
                        right: 6px;
                        z-index: 4;
                        font-size: 20px;
                        color: #fff;
                    }
                    .corner-triangle{
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 0 0 35px 35px;
                        border-color: transparent transparent #111 transparent;
                        position: absolute;
                        bottom: 0px;
                        right: 0px;
                        z-index: 3;
                        &:after {
                            content: '';
                            position: absolute;
                            top: -19px;
                            left: -45px;
                            height: 134px;
                            width: 2px;
                            background: transparent;
                            box-shadow: -2px 0px 8px 2px #000;
                            z-index: 3;
                            transform: rotate(47deg);
                        }
                    }
                    .corner-button{
                        padding: 0;
                        margin: 0;
                        border: none;
                        background: transparent;
                        position: absolute;
                        bottom: 0px;
                        right: 0;
                        z-index: 1;
                        width: 60px;
                        height: 60px;
                        overflow: hidden;
                        img{
                            position: absolute;
                            right: -9px;
                            width: 69px;
                            bottom: -9px;
                            z-index: 1;
                            opacity: .9;
                        }
                        i{
                            color: #fff;
                            position:absolute;
                            right: 15px;
                            bottom: 16px;
                            z-index: 2;
                        }
                    }
                    .card-title{
                        font-size: 18px;
                        padding-top: 8px;
                        padding-bottom: 12px;
                        float: left;
                        width: 50%;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }
                    p {
                        color:#fff;
                    }
                    p.card-text {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        line-height: 25px;
                        max-height: 112px;
                        -webkit-line-clamp: 7;
                        -webkit-box-orient: vertical;
                        margin-bottom: 20px;
                        color: #fff;
                        font-size: 16px;
                    }
                    hotel-rating{
                        display: block;
                        float: right;
                        padding-top: 10px;
                        font-size: 12px!important;
                        color: #afe8ef;
                        vertical-align: baseline;
                        .rating {
                            font-size: 14px;
                            margin-bottom: 0px;
                        }
                    }
                    .distance,
                    .trip-duration,
                    nearby-info {
                        float: right;
                        padding-top: 10px;
                        font-size: 14px;
                        color: #afe8ef;
                        vertical-align: baseline;
                        .nearby-distance {
                            padding-top: 4px;
                            display: inline-block;
                           margin-left: 15px;
                        }
                    }

                   
                    ion-card-content{
                        position: relative;
                        z-index: 2;
                        min-height: 200px;
                        padding-left: 26px;
                        padding-right: 26px;
                        -webkit-transform: translateZ(0) translate3d(0px, 0px, 0px);
                        h3{
                            text-transform: upper-roman;
                            color: #fff;
                        }
                    }
                    ion-card-header{
                        color:#fff;
                        position: relative;
                        z-index: 2;
                        padding-right: 25px;
                        padding-left: 22px;
                        -webkit-transform: translateZ(0) translate3d(0px, 0px, 0px);
                        .icon-alias {
                            width: 25px;
                            float: left;
                            
                        }
                        favorite-button {
                            display: block;
                            float: left;
                            height: 39px;
                            width: 39px;
                            margin-top: 3px;
                            margin-right: 10px;
                            overflow: hidden;
                            -webkit-border-radius: 50%;
                                border-radius:50%;
                            button{
                                padding:0;
                                margin:0;
                                border:none;
                                background: transparent;
                                height: 39px;
                                width: 39px;
                                -webkit-border-radius: 50%;
                                border-radius:50%;
                            } 
                        }
                        
                    }

                }
            }
        }  
  }
} 

@media (max-width:374px){
    card-list{
        .list{
            .list-items{
                card-list-item{
                    ion-card{
                        p{
                            &.card-text{
                                max-height: 103px;
                            }
                        }
                        .card-title{
                            padding-top:10px;
                        }
                        ion-card-header{
                            padding-left: 15px;
                            padding-right: 15px;
                        }
                        ion-card-content{
                            padding-left: 20px;
                            padding-right: 20px;
                        }
                    }
                }
            }
        }
    }
    .rtl card-list .list .list-items card-list-item ion-card ion-card-header{
        line-height:1.5;
    }
}
.no-list-results{
    text-align: center;
    padding: 20px;
    background: rgba(255, 255, 255, .4)
}
