<div class="card-list-container" [class.static-content]="listHeader" [class.noShadow]="!filteredItems || filteredItems.length == 0">

<div  class="noItems" *ngIf="!filteredItems">{{ "Sorry, there's nothing here! Try in another section." | translate }} </div>
    <ion-content #pageScroll class="list-container">

        <ajman-map *ngIf="showMap" [items]="filteredItems" [center]="" [elmID]="elmID" [showMyLocation]="true" (dismissLoading)="hideLoading($event)"></ajman-map>
         <div class="content-header" *ngIf="listHeader">
          <img src="./imgs/icons/pictograms/icon-{{iconHeader}}.png" alt="">
          <h2>{{titleHeader}}</h2>
          <p>{{descriptionHeader}}</p>
        </div>

        <div *ngIf="alias == 'itinerary'" class="trips-filters">
            <span class="lnr lnr-calendar-full" [class.selected]="tripSelected.numOfDays" [class.first-load]="firstLoad" (click)="showItineraryFilter($event,'itenerary_duration')" tappable></span>
            <span class="lnr lnr-home" [class.selected]="tripSelected.activityTags"  [class.first-load]="firstLoad" (click)="showItineraryFilter($event,'itenerary_activity')" tappable></span>
            <span class="lnr lnr-smile" [class.selected]="tripSelected.interestTags"  [class.first-load]="firstLoad" (click)="showItineraryFilter($event,'itenerary_type')" tappable></span>
        </div>
    

        <div class="list" [class.expanded]="expanded" >
            <div class="list-items" *ngIf="filteredItems && filteredItems.length > 0">
                <div class="list-header">
                    <div class="title-col">
                        <div class="list-title" (tap)="expanded=!expanded">{{ title | translate }}</div>
                    </div>
                    <div class="filter-col" *ngIf="filters">
                        <button (click)="showFilter($event)" >
                            <ion-icon name="options"></ion-icon> <span>{{ 'Filter' | translate }}</span>
                        </button>
                    </div>
                </div>
                <card-list-item [item]="listItem" [activeItem]="activeCard" [isNearby]="isNearby" [coords]="coords" *ngFor="let listItem of filteredItems; let i = index"></card-list-item>
            </div>
            
           <ion-infinite-scroll *ngIf="showInfinite" (ionInfinite)="doInfinite($event)" threshold="1%">
                <ion-infinite-scroll-content loadingSpinner="ios" loadingText="{{ 'Loading more data...' | translate }}"></ion-infinite-scroll-content>
            </ion-infinite-scroll>
            <div *ngIf="!showInfinite && loadedPage" class="no-list-results">{{ 'No more results' | translate }}</div>
        </div>

    </ion-content>

</div>