ajman-nav {
	
	background-size: cover;
	height: 100%;
	width: 100%;
	padding: 20px 0;
	ion-nav.menu-content {
		// -webkit-transition: -webkit-transform 0.2s;
		// -moz-transition: -moz-transform 0.2s;
		// transition: transform 0.2s;
		backface-visibility: hidden;
		&.menu-content-open {
			// transform: scale(0.60) translateX(400px) translateY(105px)!important;
			// background: #fff;
		}
		&.rtl {
			&.menu-content-open {
				// transform: scale(0.60) translateX(-400px) translateY(105px)!important;
			}
		}
		toggle-nav div {
			color: #fff;
			font-size: 18px;
		}
	}
	.nav-menu {
		&.rtl {
			ion-toolbar {
				.toolbar-content {
					.search-submit {
						left: 10px;
						right: auto;
					}
				}
				.menu-buttons {
					button {
						float: right;
						&:nth-child(1) {
							border-right: none;
							border-left: 1px solid rgba(255, 255, 255, 0.2);
						}
						.fav-label {
							left: 35%;
							right: auto;
						}
					}
				}
			}
			ion-content {
				.item {
					.item-inner {
						line-height: 1;
						ion-label {
							div {
								margin-left:0;
								margin-right: 30px;
								position: relative;
								img {
									float: right;
								}
								span {
									float: right;
									padding-left: 0;
									padding-right: 20px;
								}
							}
							ul {
								li {
									padding: 20px 20px 10px 10px;
									img {
										float: right;
									}
									span {
										float: right;
										padding-left: 0;
										padding-right: 20px;
									}
								}
							}
						}
					}
				}
				ion-list {
					.btn-settings {
						.button-inner {
							text-align: right;
							span {
								float: right;
							}
						}
					}
				}
			}
		}
		background: url(../../imgs/navigation/background.jpg) no-repeat top left;
		background-attachment: fixed;
		background-size: cover;
		width:100%;
		display: block;
		&.cameraOpen {
			display: none;
		}
		.menu-inner {
			background: transparent;
			width: 100%;
			transform: translate3d(0, 0, 0);
		}
		ion-toolbar {
			height: 172px!important;
			align-items: top;
			padding:0!important;
			display: block;
			overflow:visible;
			.menu-buttons {
				background: rgba(0,0,0,.5);
				border-top: 1px solid rgba(255,255,255,.2);
				display: inline-block;
				width: 100%;
				margin-top: 67px;
				button {
					&:before{
						content: '';
						display: block;
						position:absolute;
						left:0;
						right:0;
						top: 0;
						
					}
					position:relative;
					background:none;
					&:nth-child(1) {
						border-right: 1px solid rgba(255,255,255,.2);
					}
					.fav-label {
						position: absolute;
						top: 40%;
						right: 35%;
						background: #13c0d7;
						width: 20px;
						height: 20px;
						text-align: center;
						line-height: 20px;
						border-radius: 50%;
						font-size: 11px
					}
					border: none;
					width:50%;
					display: flex;
					height: 103px;
					flex-direction: row;
					border-radius: 0;
					float: left;
					margin: 0;
					font-size: 13px;
					& > span {
						flex: 1 100%;
						flex-direction: column;
						& img {
							max-height: 50px;
							margin-bottom: 10px;
						}
					}

				}
			}
			.toolbar-content {
				align-self: top;
				ion-input {
					border: none;
					width: 100%;
					height: 67px;
					display: inline-block;
					padding: 12px 35px;
					color: #fff;
					top: 0px;
					z-index: 1;
					position: absolute;
					background: rgba(0,0,0,.5);
				}
				.search-submit {
					width: 67px;
					height: 67px;
					background: transparent;
					border: none;
					position: absolute;
					top: 0px;
					right: 0px;
					
					color: rgba(255, 255, 255, 0.5);
					z-index: 2;
					font-size: 20px;
					text-align: center;
					padding: 20px 0 0;
				}
				.submit-hidden {
					
					width: 1px;
					height: 1px;
					position: absolute;
					top: 0;
					left: 0;
					opacity: 0;
				}
			}
			.toolbar-background {
				background: transparent;
				border: none;
			}
		}
		
		ion-content {

			background: transparent;
			width: 100%;
			ion-list {
				width: 100%;
				
				margin:0;
				
			
				.btn-settings {
					width: 100%;
					height: 50px;
					margin: 0;
					border-radius: 0;
					background: rgba(0,0,0,.8);
					
					.button-inner {
						display: inline-block;
						text-align: left;
						width: 100%;
						color: rgba(255,255,255,.5);
						text-transform: uppercase;
						padding-top: 10px;
						font-size: 14px;
						padding: 17px 20px;
						& span {
							float:left;

						}
						.lnr {
							font-size: 18px;
							margin-right: 10px;
							margin-top: -1px;
						}
					}
				}
			}
			& .item {
				width:100%;
				background: transparent;
				padding: 0 0px;
				&:first-child {
					border-top: none;
				}
				&:nth-last-child(2) {
					padding-bottom: 0px;
					.item-inner {
						ion-label {
							div {
								border-bottom: none;
							}
						}
					}
				}
				& > .item-inner {
					
				}
				&:nth-child(3){
					.item-inner ion-label div.open {
						border-bottom: none;
					}
				}
				.item-inner {
					padding:0;
					border-bottom: none;
					ion-label {
						display: flex;
						align-items: left;
						padding: 0 0px;
						flex-direction: column;
						margin: 0 0px 0px 0;
						div {
							width: calc(100% - 60px);
							padding: 15px 7px;
							border-bottom: 1px solid  rgba(255,255,255,.1);	
							transition: border-bottom .5s;
							margin-left: 30px;
							
							img {
								max-height: 30px;
								max-width: 30px;
								float: left;
								opacity: .9;
							}
							span {
								font-size: 15px;
								color: #fff;
								padding-left: 20px;
								padding-top: 5px;
								float: left;
							}
						}
						ul {
							width: 100%;
							list-style-type: none;
							padding: 0;
							padding: 0 30px;
							margin: 0;
							background: rgba(0,0,0,.3);
							
							max-height: 0px;
							transition: max-height 1s ease-out;
							&.open {
								
								max-height: 3000px;
								
							}
							li {
								padding: 16px 10px 10px 20px;
								border-top: 1px solid  rgba(255,255,255,.1);	
								transition: border-bottom .5s;
								overflow: hidden;
								width: 100%;
								&:first-child {
									border-top: none;
								}
								img {
									max-height: 30px;
									max-width: 30px;
									float: left;
									opacity: .9;
									position:relative;
									top: -3px;
								}
								span {
									font-size: 15px;
									color: rgba(255,255,255,.5);
									padding-left: 20px;
									float: left;
								}
							}
						}
					}
				}
				&:last-child {
					border-bottom: none;
				}
			}
		}
	}
}

ajman-nav ion-menu > .menu-inner {
	& > .toolbar.statusbar-padding:first-child {
		padding-top: 0;
		min-height: 172px;
	}
	& > ion-content.statusbar-padding{
		height: auto;
		position:absolute;
		left: 0;
		right: 0;
		top: 172px;
		bottom: -1px;
	}

}

html[dir="rtl"]{
	ajman-nav .nav-menu ion-toolbar .menu-buttons button .fav-label{
		line-height: 24px;
	}
	ajman-nav .nav-menu ion-content .item .item-inner ion-label div span{
		padding-top: 9px;
		display: inline-block;
	}
	ajman-nav .nav-menu.rtl ion-content .item .item-inner ion-label ul li span{
		padding-top:2px;
	}
}
// @media (max-width: 374px){
// 	ajman-nav{
// 		ion-nav{
// 			&.menu-content{
// 				&.menu-content-open{
// 					-webkit-transform: scale(0.6) translateX(325px) translateY(110px) !important;
// 					transform: scale(0.6) translateX(325px) translateY(110px) !important;
// 					&.rtl{
// 						-webkit-transform: scale(0.6) translateX(-325px) translateY(110px) !important;
// 						transform: scale(0.6) translateX(-325px) translateY(110px) !important;
// 					}
// 				}
// 			}
// 		}
// 	}
// }