.rtl {

}
$whiteColor: #fff;
$blackColor: #000;
$blueColor: #071689;
$startColor: #11a0b4;
$endColor: #13c0d7;

@mixin gradient($startColor, $endColor, $direction){
background: $startColor;
background: -webkit-linear-gradient($direction,  $startColor 0%,$endColor 100%);
background: linear-gradient(to $direction,  $startColor 0%,$endColor 100%);
}
.restaurant-details {
.details-wrapper{
    position: absolute;
    padding-bottom: 65px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    ion-content{
        position: absolute;
        right: 0;
        left: 0;
        bottom: 65px;
        top: 0;
        overflow-y: auto;
        background-repeat: no-repeat;
        background-color: #fff;
          &:before{
          display:block;
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          top: 0;
          background: rgba(0,0,0,.5);
        }
    }
}
.details-section{
  font-family: $fontDefault;
  font-size: 13px;

  color: $blackColor;
  line-height: 1.5;
  padding-bottom: 65px;
    img{
        vertical-align: top;
    }

    h3,h4,p,ul{
        margin-bottom: 15px;
    }
    p{
        color: $whiteColor;
    }
    .rating{
        font-size: 26px;
        margin-bottom: 20px;
    }
    .details-top{
  font-size: 15px;
    padding-top: 70px;
    min-height: 100%;

    background-size: cover;
    background-repeat: no-repeat;
    position:relative;
    text-align: center;
    text-shadow: rgba(0, 0, 0, .1) 1px 1px 0px;
    display: flex;
    justify-content: center;
    align-items: center;

  

}
.details-top-content{
  position: relative;
  z-index: 2;
    padding: 30px;
}
.details-top-content h3{
  font-family: $fontDefaultBold;
  font-size: 22px;
}
.details-section .related-container hotel-rating .rating{
  font-size: 12px;
  margin-bottom: 0;
}
.related-container card-list .list .list-wrapper{
  height: calc(100% - 15px);
}
.details-img{
  position: relative;
  z-index: 2;
}
.img-view-large{
  width: 40px;
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 10;
}
.details-container{
  padding: 20px 25px;

  p{
      color: $blackColor;
    &:last-child{
      margin-bottom:0;
    }
  }
}
.details-box{
  border-top: 1px solid #ccc;
  padding: 15px 25px;
  color: $blackColor;
  background-color: $whiteColor;
}
.details-map{
  height: 230px;
  position: relative;
  

  &:before{
    display: block;
    content: '';
    position:absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 9;
  }
  .details-map-link{
      position:absolute;
      left: 20px;
      bottom: 10px;
      background: rgba(0,0,0,.2) url(../../imgs/icons/icon-map-link.png) center center/27px auto no-repeat;
      display: block;
      width: 47px;
      height: 47px;
      -webkit-border-radius: 50%;
      border-radius: 50%; 
      z-index: 10;
    }
}
.details-list{
  color: $blueColor;
  padding: 20px 25px;
  ul{
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: hidden;
    border-top: 1px solid #f2f2f2;
    &:last-child{
      margin-bottom: 0;
    }
  }
  li{
    font-size: 15px;
    padding: 4px 0 0 16px;
    position: relative;

    &:before{
      content: '';
      display: block;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: $blueColor;
      position: absolute;
      left: 0;
      top: 14px;
    }
  }
  p{
    font-size: 17px;
    color: $blueColor;
  }
}
}

.details-tabs-bottom{
  position: absolute;
  z-index: 100;
  left: 0;
  right: 0;
  bottom: 0;
  height: 65px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  flex-direction: column;

  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.13);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.13);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.13);

  @include gradient($startColor, $endColor, top);

  div{
    text-align: center;
    position: relative;
    flex: 1 100%;
    align-items: center;

    &:after{
      display:block;
      content: '';
      position: absolute;
      right: 0;
      width: 1px;
      top: 10px;
      bottom: 10px;
      background: rgba(255,255,255,.2);
    }
    a{
        display: block;
    }
    img{
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
    }
  }
}
}
a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
.gmnoprint div {
    background:none !important;
}
@media (max-width:374px){
  .details-section .details-container{
    padding: 20px;
  }
  .details-section .details-box{
    padding: 15px 20px;
  }
  .details-section .details-list{
    padding: 20px;
  }
}