.trips {
	background: url(../../imgs/trips/first_bg.png) no-repeat top center/cover;
	width: 100%;
	min-height: 100%;
	position: relative;
	.content-wrapper {
		position: absolute;
		margin-top: 70px;
		height: calc(100% - 70px);
		width:100%;
		pointer-events: none;
	}
	.content-header {
			width: 100%;
			padding: 25% 20px;
			text-align: center;
			color: #fff;
			display: flex;
			align-items: center;
			flex-direction: column;
			img {
				max-height: 99px;
				max-width: 99px;

			}
			h2 {
				font-weight: bold;
			}
			img, p, h2 {
				display: flex;
				width: 100%;
				justify-content: center;
				margin: 5px 0;
				color: #fff;
			}
			div {
				margin-top: 20px;
				span {
					&.selected {
						background: transparent;
						&.first-load {
							background: rgba(0, 0, 0, 0.6);
							&:after {
								display: none;	
							}
						}
						&:after {
							content: '\f00c';
							background: rgba(19, 192, 215, 0.5);
							font: normal normal normal 14px/1 FontAwesome;
							font-size: inherit;
							text-rendering: auto;
							-webkit-font-smoothing: antialiased;
							position: absolute;
							top: 50%;
							left: 50%;
							-webkit-transform: translate(-50%, -50%);
							transform: translate(-50%, -50%);
							width: 66px;
							height: 66px;
							color: #fff;
							border-radius: 50%;
							font-size: 40px;
							padding-top: 13px;
							box-sizing: border-box;

						}

					}
					position: relative;
					background: rgba(0, 0, 0, 0.6);
					border-radius: 50%;
					width: 66px;
					height: 66px;
					font-size: 30px;
					display: inline-block;
					padding: 13px;
					margin: 0 15px;
					line-height: 40px;
				}
				
			}
		}

}
