html[lang="ar"] {
	.settings {
		line-height: 2;
		ion-list {
			.item {
				&.favourites-item {
					.reset-link {
						text-align: left;
					}
				}
				.item-inner {
					.lang-label {
						.tutorial-selector {
							float: left;
							.on,
							.off {
								font-family: $fontRegularArabic;
							}
							span{
								float: left;
							}
							ion-toggle{
								margin-left: 0;
								margin-right: 10px;
								float: left;
							}
						}
						.language-selector{
							ion-toggle{
								margin-left: 0;
								margin-right: 10px;
								float: left;
							}
							span{
								float: left;
								&.ar{
									display: block;
								}
								&.en{
									display: none;
								}
							}
						}
					}
				}	
			}
		}
		.btn-settings {
			.button-inner {
				padding-right: 0;
				ion-icon {
					float: right;
					margin-left: 5px;
					padding-right: 0;
				}
				span{
					float:right;
					margin-right: 5px;
					padding-top:3px;
				}
			}
		}
	}
}
.settings {
	padding-top: 50px;
	background: url(../../imgs/navigation/background.jpg) no-repeat top left/cover;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	overflow: hidden;
	-webkit-transition: top .5s;
	transition: top .5s;
	// pointer-events: none;
	&.open {
		pointer-events: auto;
		opacity:1;
		top: 0;
	}
	&.finish {
		.btn-settings {
			.button-inner {
				.hamburger {
					left: -13px;
					-webkit-transition: left .5s ease-out .5s;
					transition: left .5s ease-out .5s;
				}
				.lnr {
					margin-left: 30px;
					-webkit-transition: margin-left .5s ease-out .5s;
					transition: margin-left .5s ease-out .5s;
				}
			}
		}
	}
	&.hidden {
		display: none;
	}
	.hamburger-inner {
		top: 20px;
		left: 20px;
	}
	
	a{
		&.link {
			background: none;
			font-size: 14px;
			color: #000;
			border-bottom: 1px solid #000;
			padding-bottom: 5px;
			margin-top: 15px;
			display: block;
		}
	}

	ion-list {
		margin: 0 0 32px 0;
		.item {
			padding-left: 0;
			background: rgba(0,0,0,.3);
			color: #fff;
			&:first-child{
				border-top: 0;
			}
			&.favourites-item {
				.item-inner {
					padding: 20px 20px;
				}
				.reset-link{
					color: #13c0d7;
					text-decoration: underline;
					text-align: right;
					margin-right: 0;
				}
			}
			&.tutorial-selector{
				float: right;
				span.off{
					text-align: right;
				}
				span.on{
					display: none;
				}

				&.item-toggle-checked{
					span.off{
						display: none;
					}
					span.on{
						display: block;
					}
				}
			}
			.item-inner {
				-webkit-backface-visibility: hidden;
   				backface-visibility: hidden;
   				border-bottom: 1px solid rgba(100,98,98,.5);
   				padding: 18px 18px;
   				ion-label {
   					margin: 0px;
   				}
   				.lang-label {
   					margin: 0;
   					.language-selector,
   					.tutorial-selector {
	   					span {
	   						float: right;
	   						font-size: 12px;
	   						&.en,
	   						&.on,
	   						&.off {
	   							font-family: $fontRegular;
	   							line-height: 28px;
	   						}
	   						&.ar {
	   							font-family: $fontRegularArabic;
	   							direction: rtl;
	   							line-height: 31px;
	   							display: none;
	   						}
	   						
	   					}
	   					ion-toggle {
	   						float: right;
	   						margin-left:10px;
	   					}
	   				}
	   				.language-selector{
	   					.toggle-icon{
   							background-color: #3bb4c4;
							box-shadow: inset -2px 2px 5px 2px rgba(0,0,0, .18);
							&:before{
								display: none;
							}
	   					}
	   				}

   				}
   				
   				ion-toggle {
   					background-color: rgba(0,0,0,.3);
   					padding: 10px;
   					border-radius: 20px;
   					.toggle-icon {
   						height: 9px;
   						.toggle-inner {
   							background:#fff;
   							left:0px;
   							top: -7px;
   							width: 22px;
   							height: 22px;
   							box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.16);
   							z-index: 2;
   						}
   						&.toggle-checked {
   							background-color: #3bb4c4;
   							box-shadow: inset -2px 2px 5px 2px rgba(0,0,0, .18);
   							.toggle-inner {
   								left: 12px;
   							}
   						}
   						&.toggle-checked +	span.off{
							display: none;
						}
   						&.toggle-checked + span.on{
							display: block;
						}
   					}
   				}
			}
			&:last-child {
				border-bottom:0;
				.item-inner {
					border-bottom: none;
				}
			}
		}
	}
	
	.btn-settings {
		width: 100%;
		height: 50px;
		margin: 0;
		border-radius: 0;
		background: rgba(0,0,0,.95);
		position: absolute;
		top: 0;
		left: 0;
		.button-inner {
			display: inline-block;
			text-align: left;
			width: 100%;
			text-transform: none;
			padding-top: 10px;
			font-size: 14px;
			padding: 17px 10px;
			& span {
				float:left;
				text-transform: uppercase;
				color: rgba(255,255,255,.5);
			}
			ion-icon {
				color: rgba(255,255,255,1);
				font-size: 50px;
				margin-right: 0px;
				margin-top: -10px;
				margin-left: -5px;
				-webkit-transition: margin-left .5s ease-in;
				transition: margin-left .5s ease-in;
				float:left;
				
			}
		}
	}

	.feedback-block {
		text-align: center;
		margin-top: 50px;
		display: inline-block;
		line-height: 2;
		width: 100%;
		color: #fff;

		.link{
			color: #13c0d7;
			text-decoration: underline;
			border-bottom: 0;
		}
	}

	.logo-settings {
		position: absolute;
		left: 50%;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
		bottom: 15%;
		height: 50px;
	}
	.language-selector .toggle-icon{
		background-color: #3bb4c4!important;
	}
}
@media (max-width:374px){
	.settings{
		ion-list{
			.item{
				.item-inner {
					padding: 18px 15px;
					ion-toggle{
						padding: 7px;
					}
					ion-label{
						margin: 0;
					}
					.lang-label{
						.language-selector {
							ion-toggle{
								margin: 4px 5px auto 5px;
							}
						}
					}
				}
				&.favourites-item{
					item-inner{
						padding: 20px 15px;
					}
				}
			}
		}
		.btn-settings{
			padding: 0 12px;
		}
	}
	html[lang="ar"]{
		.settings {
			.btn-settings {
				.button-inner {
					padding: 17px 0;
					ion-icon{
						margin-left: 0;
						margin-right: -12px;
					}
				}
			}
			ion-list{
				.item{
					.item-inner{
						line-height: 1;
					}
				}
			}
		}
	}
}