
$whiteColor: #fff;
$blackColor: #000;
$blueColor: #071689;
$startColor: #11a0b4;
$endColor: #13c0d7;
@mixin gradient($startColor, $endColor, $direction) {
  background: $startColor;
  background: -webkit-linear-gradient($direction,$startColor 0%,$endColor 100%);
  background: linear-gradient(to $direction,$startColor 0%,$endColor 100%);
}
@keyframes bgAnimation {
  0% { opacity: 0; transform: translateY(-10%); }
  100% { opacity: 1; transform: translateY(-0%); }
}
.rtl {
  .static-content {
     h3 {
        font-family: $fontBoldArabic!important;
      }
      p {
        font-family: $fontRegularArabic;
      }
      li {
        padding: 4px 14px 4px 10px!important;
        text-align: right;
        font-family: $fontRegularArabic;
        &:after {
          left: auto;
          right:0px;
        }
      }
       h4 {
        font-family: $fontBoldArabic;
      }
  }
}
@keyframes bgAnimation {
  0% { opacity: 0; transform: translateY(-10%); }
  100% { opacity: 1; transform: translateY(-0%); }
}
@keyframes bgAnimationLeave {
  0% { opacity: 1; transform: translateY(0%); }
  100% { opacity: 0; transform: translateY(-10%); }
}
.static-details-wrapper {
  &.white-bg {
    background: #fff;
  }
  position: absolute;
  padding-bottom: 65px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  &.no-bg {
      background: transparent;
      top-bar {
        display: none;
      }
    }
.bg-image-detail {
   &.hide-img {
      animation: bgAnimationLeave .5s ease-out forwards;
    }

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: 0;
    right: 0;
    height:100%;
    top: 0;
    z-index: 1;
    &.scroll-tweak {
      &:after {
        display: block;
      }
    }
    &:before{
          display:block;
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          bottom:0;
          top: 0;
          background: rgba(0,0,0,.4);
          z-index:2;
        }
      &:after{
        display:none;
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom:0;
        height: 100%;
        background-color: #fff;
        z-index:3;
      }
  }
  & > ion-content {
        // -webkit-mask-image: -webkit-gradient(linear, left 10%, left top, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
        // top: 70px!important;
  }
    ion-content{
        position: absolute;
        right: 0;
        left: 0;
        bottom: 65px;
        top: 0;
        overflow-y: auto;
          z-index: 2;
  
        scroll-content {
          z-index: 3;
        }
          
    }

.static-details-section {
  font-family: $fontDefault;
  font-size: 15px;

  color: $blackColor;
  line-height: 1.5;
position: absolute;
height: 100%;
  h3, h4, p, ul {
    margin-bottom: 15px;
  }
  p {
    color: $whiteColor;
  }
  .static-details-top {
    font-size: 15px;
    position: relative;
    z-index: 1;
    color: $whiteColor;
    background-size: cover;
    background-repeat: no-repeat;
    height: 375px;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    flex: 1 100%;

  }
  .static-details-top-content {
    position: relative;
    z-index: 2;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 30px;
    h3 {
      font-family: $fontDefaultBold;
      font-size: 22px;
      margin-bottom: 8px;
    }
    img {
      margin-bottom: 10px;
    }
  }
  .static-details-container {
    padding: 20px 25px;
    background: $whiteColor;
    flex: 1 100%;
    padding-bottom: 85px;
    position: relative;
    z-index: 3;
    p {
      color: $blackColor;
      &:last-child {
        margin-bottom: 0;
      }
    }
    a {
      color: $blackColor;
      text-decoration: none;
      pointer-evetns: none;
    }
    h3{
    	font-weight: normal;
    	padding-top: 10px;
    	margin-bottom: 8px;
    	font-size: 18px;

    	&:first-child{
    		padding-top: 0;
    	}
    }
    h4{
      font-weight: bold;
      margin-bottom: 8px;
      font-size: 15px;

      &:first-child{
        padding-top: 0;
      }
    }
    ul {
      overflow: hidden;
      margin: 0;
      padding: 0;
      list-style: none;
      &:first-child{
        border-top: 1px solid #f2f2f2;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
    li {
      font-size: 15px;
      padding: 4px 0 0 10px;
      position: relative;

      &:after{
        display: block;
        content: '';
        background: #868589;
        width: 3px;
        height: 3px;
        border-radius: 50%;
        position: absolute;
        left: 0;
        top: 13px;
      }
    }
    .forecast-header {
      display: none;
    }
    .climate-graph {
      .desktop {
        display: none;
      }
      .mobile {
        width: 100%;
        margin: 20px 0;
      }
    }
    .climate-graph-wrapper {
      h3 {
        font-size: 20px;
      }
      h4 {
        font-size: 17px;
      }
    }
    .legend {
      padding: 10px 0;
      div {
        float: left;
        margin: 0 6px;
        &.max {
            color: #E16A29;
        }
        &.min {
            color: #13c0d7;
        }
      }
      
    }

    .healthcare-list {
      .list-details {
        margin-bottom: 20px;
      }
      .actions {
        display: none;
        a {
          color: #868589;
          text-decoration: underline;
          margin: 0 5px 0 0;
        }
      }
    }
  }
  .static-details-box {
    border-top: 1px solid #ccc;
    padding: 15px 25px;
    color: $blackColor;
  }
}
.details-tabs-bottom {
  position: absolute;
  z-index: 100;
  left: 0;
  right: 0;
  bottom: -70px;
  height: 65px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  flex-direction: column;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.13);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.13);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.13);
  transition: bottom .3s;
  will-change: bottom;
  &.hide-bottom {
    bottom:-70px!important;
  }
   &.show-bottom {
    bottom:0px;
  }
  @include gradient($startColor,$endColor,top);
  
  div {
    text-align: center;
    position: relative;
    flex: 1 100%;
    align-items: center;
    &:after {
      display: block;
      content: '';
      position: absolute;
      right: 0;
      width: 1px;
      top: 10px;
      bottom: 10px;
      background: rgba(255,255,255,.2);
    }
    img {
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
    }
  }
}

}
.about,
.visitor-support,
.travel{
  position:relative;
  &:before{
    display: block;
    position:absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(0,0,0,.3);
    z-index: 1;
    content: '';
  }
  > div,
  > card-list{
    position:relative;
    z-index: 2;
  }
}

@media (max-width:374px){
  .details-section .details-container{
    padding: 20px;
  }
  .details-section .details-box{
    padding: 15px 20px;
  }
  .static-details-wrapper .static-details-section .static-details-top-content,
  .static-details-wrapper .static-details-section .static-details-container,
  .details-section .details-list{
    padding: 20px;
  }
}