<div class="static-details-wrapper" [class.no-bg]="exitPage" [class.white-bg]="detailsBG">
<top-bar [poppage]="popButton" [blackStyle]="scrollBar" [isLoaded]="detailsBG"></top-bar>

   	<ion-content  #detailScroll  has-bouncing="false" *ngIf="item">
		<div class="static-details-section">
		<div class="bg-image-detail" [class.hide-img]="exitPage" [class.enter-img]="enterPage" [class.scroll-tweak]="scrollTweak" [ngStyle]="{'background-image': 'url(' + item.featuredImage + ')', 'height': imgHeight+'px'}"></div>
			<div class="static-details-top"  >
				<div class="static-details-top-content">
					<h3 class="title">{{item.name}}</h3>
					<p class="details">{{item.subtitle}}</p>
				</div>
			</div>
			<div class="static-details-container">
				<div [innerHTML]="item.content"></div>
			</div>
		</div>
	</ion-content>
	<div class="details-tabs-bottom" *ngIf="item" [class.hide-bottom]="exitPage"  [class.show-bottom]="detailsBG">
		<div (tap)="toggleFavorite()"  *ngIf="!item.favorite"><img src="./imgs/icons/icon-fav.svg" width="25" ></div>
        <div (tap)="toggleFavorite()"  *ngIf="item.favorite"><img src="./imgs/icons/icon-fav-active.svg" width="25" ></div>
		<div><tts-button [stringTTS]="item.content"></tts-button></div>
		<div><share-button [item]="item"></share-button></div>
	</div>
</div>