.social-media {
  .isLoaded {
    background-color: #fff!important;
    scroll-content {
      padding-top: 0px!important;
    }
  }
}
.social-div{
  
  text-align:center;
  height: 100%;
  font-size: 15px;
  
  .details-tabs-bottom {
    & > div {
      color: #fff;
      font-size: 28px;
      align-content: center;
      align-items: center;
      &.selected {
        color: #fff;
      }
      span {
        padding: 20px 0px;
        width: 100%;
        display: flex;
        justify-content: center;
      }
    }
  }
  .social-top{
    background-size:cover;
    background-repeat: no-repeat;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    .top-content{
      padding-top: 70px;
    }
    h3{
      font-size: 22px;
      color: $whiteColor;
    }
    .social-links{
      list-style: none;
      margin: 0;
      padding: 0;

      li{
        display: inline-block;
        margin: 3px;

        a{
          width: 60px;
          height: 60px;
          background: rgba(0,0,0,.5);
          color: #fff;
          text-decoration: none;
          font-size: 25px;
          display: block;
          line-height: 60px;
          text-align: center;
          -webkit-border-radius: 50%;
          border-radius: 50%;
        }
      }
    }
  }

  .social-bottom{
    background-color:#fff;
    padding-top:50px;
    padding-bottom: 70px;
    min-height: 667px;
    .social-block{
      padding: 25px 20px;
      text-align: left;
      border-bottom: 1px solid #e9e9e9;
      font-size: 14px;

      ul {
        padding: 0;
        list-style: none;
        li {
          border-bottom: 1px solid #f4f4f4;
          padding: 15px 0px;
          &:last-child {
            border-bottom: none;
          }
          .timePosted {
            color: #818283;
            font-size: 13px;
            display: inline-block;
            width: 100%;
          }
          p {
            margin: 0px;
          }
          .social-content {
            margin-bottom: 10px;
            display: inline-block;
            width: 100%;
          }
          .alignRight {
            text-align: right;
          }
          video, img {
            max-width: 100%;
            margin: 0px 0 10px;
          }
          .social-provider {
            text-transform: capitalize;
            display: inline-block;
            color: #666;
            font-size: 14px;
            width: 100%;
            img {
              margin: 0;
            }
          }
        }
      }

      &:last-child{
        border-bottom: 0;
      }

      h4{
        font-size: 16px;

        a{
          text-decoration: none;
          color: #818283;
        }

        img{
          float: left;
          position: relative;
          top: 4px;
          margin-right: 8px;
        }
      }
      a{
        color: #13c0d7;
      }
      p.social-date{
        color: #818283;
        font-size: 13px;
      }
      p:last-child{
        margin-bottom: 0;
      }
      img{
        max-width: 100%;
        height: auto;
      }
    }
  }
}

