<top-bar [poppage]="true" [blackStyle]="true" [isLoaded]="isLoaded" ></top-bar>

<div class="social-div">
	<ion-content #detailScroll [class.isLoaded]="isLoaded">


		<div class="social-bottom">
			
			<div class="social-block" *ngIf="items">
				
				<ul>
					<li class="social-feed" *ngFor="let item of items" >
						<span class="timePosted">{{item.date}}</span>
						
						<div *ngIf="item.type=='video'">
							<video [src]="item.source" [poster]="item.image"></video>
						</div>
						<div *ngIf="item.type=='photo' || item.type=='image'">
							<img [src]="item.image" alt="">
						</div>
						<span class="social-content" [innerHTML]="item.message"></span>
						<span class="social-provider" (click)="openLink(item.url)" tappable>
							<img src="./imgs/social-media/icon-{{item.provider}}.png" width="12" style="top: -1px;"> {{item.provider}} - {{item.account}}
						</span>
					</li>
				</ul> 
			</div>
		</div>

	</ion-content>
	<div class="details-tabs-bottom"  [class.show-bottom]="isLoaded">
		<div tappable (click)="openLink('http://facebook.com/VisitAjman')"><span class="icon-social-facebook"></span></div>
		<div tappable (click)="openLink('http://twitter.com/visitajman')"><span class="icon-social-twitter"></span></div>
		<div tappable (click)="openLink('http://instagram.com/ajman')"><span class="icon-social-instagram"></span></div>
		<div tappable (click)="openLink('http://youtube.com/Ajmantdd')"><span class="icon-social-youtube"></span></div>
	</div>
</div>