  <!-- //Listing -->
  <div class="filter-popup" *ngIf="type == 'hotel'">
    <div class="popup-header">
      <span class="popup-close" tappable (click)="save()">{{'Done' | translate}}</span>
      <!-- <span class="popup-save" tappable (click)="save()"><ion-icon name="checkmark"></ion-icon></span> -->
      {{'Filter' | translate }}
    </div>
    <div class="popup-content">
      <div class="popup-list">
        <input tappable type="checkbox"  [checked]="filterForm[4].checked" (click)="changeFilter($event, 4)">
        <label tappable for="chk-5" class="label">
         {{'Hotel' | translate }}
          <span class="rating">
            <span class="fill">☆</span><span class="fill">☆</span><span class="fill">☆</span><span class="fill">☆</span><span class="fill">☆</span>
          </span>
        </label>
      </div> 
      <div class="popup-list">
        <input tappable type="checkbox"  [checked]="filterForm[3].checked" (click)="changeFilter($event, 3)">
        <label tappable for="chk-4" class="label">
         {{'Hotel' | translate }}
          <span class="rating">
            <span class="fill">☆</span><span class="fill">☆</span><span class="fill">☆</span><span class="fill">☆</span><span>☆</span>
          </span>
        </label>
      </div> 
      <div class="popup-list">
      <input tappable type="checkbox" [checked]="filterForm[2].checked" (click)="changeFilter($event, 2)">
        <label tappable for="chk-3" class="label">
         {{'Hotel' | translate }}
          <span class="rating">
            <span class="fill">☆</span><span class="fill">☆</span><span class="fill">☆</span><span>☆</span><span>☆</span>
          </span>
        </label>
      </div>
      <div class="popup-list">
       <input tappable type="checkbox" [checked]="filterForm[1].checked" (click)="changeFilter($event, 1)">
        <label tappable for="chk-2" class="label">
         {{'Hotel' | translate }}
          <span class="rating">
            <span class="fill">☆</span><span class="fill">☆</span><span>☆</span><span>☆</span><span>☆</span>
          </span>
        </label>
      </div>
      <div class="popup-list">
        <input tappable type="checkbox"  [checked]="filterForm[0].checked" (click)="changeFilter($event, 0)">
        <label tappable for="chk-1" class="label">
           {{'Hotel' | translate }}
          <span class="rating">
            <span class="fill">☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
          </span>
        </label>
      </div>
      
      <div class="popup-list">
        <input tappable type="checkbox" [checked]="filterForm[6].checked" (click)="changeFilter($event, 6)">
        <label tappable for="chk-6" class="label">
           {{'Hotel Apartment' | translate }} - {{'Premium' | translate }}
        </label>
      </div> 

      <div class="popup-list">
        <input tappable type="checkbox"  [checked]="filterForm[5].checked" (click)="changeFilter($event, 5)">
        <label tappable for="chk-7" class="label">
          {{'Hotel Apartment' | translate }} - {{'Standard' | translate }}
        </label>
      </div> 


    </div>
  </div>
  <!-- //Favourite -->
  <div class="filter-popup"  *ngIf="type == 'favorites' || type == 'all'">
    <div class="popup-header">
      <span class="popup-close" tappable (click)="save()">{{'Done' | translate}}</span>
      <!-- <span class="popup-save" tappable (click)="save()"><ion-icon name="checkmark"></ion-icon></span> -->
      {{'Filter' | translate }}
    </div>
    <div class="popup-content">
      <div class="popup-list">
        <input tappable type="checkbox" id="chk-1-1" [checked]="filterForm[0].checked" (click)="changeFilter($event, 0)">
        <label tappable for="chk-1-1" class="label"><span class="icon-fav-accomodation"></span> {{'Accommodation' | translate }}</label>
      </div>
      <div class="popup-list">
        <input tappable type="checkbox" id="chk-1-3" [checked]="filterForm[1].checked" (click)="changeFilter($event, 1)">
        <label tappable for="chk-1-3" class="label"><span class="icon-fav-dining"></span> {{'Dining Options' | translate }}</label>
      </div>
      <div class="popup-list">
        <input tappable type="checkbox" id="chk-1-2" [checked]="filterForm[2].checked" (click)="changeFilter($event, 2)">
        <label tappable for="chk-1-2" class="label"> <span class="icon-fav-todo"></span> {{'Things To Do' | translate }}</label>
      </div>
      <div class="popup-list">
        <input tappable type="checkbox" id="chk-1-4" [checked]="filterForm[3].checked" (click)="changeFilter($event, 3)">
        <label class="label" for="chk-1-4"><span class="icon-fav-places"></span> {{'Places To Go' | translate }}</label>
      </div>
      <div class="popup-list">
        <input tappable type="checkbox" id="chk-1-5" [checked]="filterForm[4].checked" (click)="changeFilter($event, 4)">
        <label class="label" for="chk-1-5"><span class="icon-fav-events"></span> {{'Upcoming Events' | translate }}</label>
      </div>
    </div>
  </div>

  <!-- // Things to do -->
  <div class="filter-popup"  *ngIf="type == 'activity'" >
    <div class="popup-header">
      <span class="popup-close" tappable (click)="save()">{{'Done' | translate}}</span>
      <!-- <span class="popup-save" tappable (click)="save()"><ion-icon name="checkmark"></ion-icon></span> -->
      {{'Filter' | translate }}
    </div>
    <div class="popup-content">
      <div class="popup-list">
        <input tappable type="checkbox" id="chk-2-1" [checked]="filterForm[0].checked" (click)="changeFilter($event, 0)">
        <label tappable for="chk-2-1" class="label">{{'Nature & Wild Life' | translate}}</label>
      </div>
      <div class="popup-list">
        <input tappable type="checkbox" id="chk-2-2" [checked]="filterForm[1].checked" (click)="changeFilter($event, 1)">
        <label tappable for="chk-2-2" class="label">{{'Spa' | translate}}</label>
      </div>
      <div class="popup-list">
        <input tappable type="checkbox" id="chk-2-3" [checked]="filterForm[2].checked" (click)="changeFilter($event, 2)">
        <label tappable for="chk-2-3" class="label">{{'Heritage' | translate}}</label>
      </div>
      <div class="popup-list">
        <input tappable type="checkbox" id="chk-2-4" [checked]="filterForm[3].checked" (click)="changeFilter($event, 3)">
        <label class="label" for="chk-2-4">{{'Dining' | translate}}</label>
      </div>
      <div class="popup-list">
        <input tappable type="checkbox" id="chk-2-6" [checked]="filterForm[4].checked" (click)="changeFilter($event, 4)">
        <label class="label" for="chk-2-6">{{'Arts & Culture' | translate}}</label>
      </div>
      <div class="popup-list">
        <input tappable type="checkbox" id="chk-2-7" [checked]="filterForm[5].checked" (click)="changeFilter($event, 5)">
        <label class="label" for="chk-2-7">{{'Walking & Hiking' | translate}}</label>
      </div>
      <div class="popup-list">
        <input tappable type="checkbox" id="chk-2-8" [checked]="filterForm[6].checked" (click)="changeFilter($event, 6)">
        <label class="label" for="chk-2-8">{{'Mountain Biking' | translate}}</label>
      </div>
      <div class="popup-list">
        <input tappable type="checkbox" id="chk-2-9" [checked]="filterForm[7].checked" (click)="changeFilter($event, 7)">
        <label class="label" for="chk-2-9">{{'Water Sports' | translate}}</label>
      </div>
      <div class="popup-list">
        <input tappable type="checkbox" id="chk-2-10" [checked]="filterForm[8].checked" (click)="changeFilter($event, 8)">
        <label class="label" for="chk-2-10">{{'Golf' | translate}}</label>
      </div>
      <div class="popup-list">
        <input tappable type="checkbox" id="chk-2-11" [checked]="filterForm[9].checked" (click)="changeFilter($event, 9)">
        <label class="label" for="chk-2-11">{{'Desert Safari' | translate}}</label>
      </div>
      <div class="popup-list">
        <input tappable type="checkbox" id="chk-2-12" [checked]="filterForm[10].checked" (click)="changeFilter($event, 10)">
        <label class="label" for="chk-2-12">{{'Sightseeing' | translate}}</label>
      </div>
    </div>
  </div>

<!-- // attractions -->
  <div class="filter-popup"  *ngIf="type == 'destination'" >
    <div class="popup-header">
      <span class="popup-close" tappable (click)="save()">{{'Done' | translate}}</span>
      <!-- <span class="popup-save" tappable (click)="save()"><ion-icon name="checkmark"></ion-icon></span> -->
      {{'Filter' | translate }}
    </div>
    <div class="popup-content">
      <div class="popup-list">
        <input tappable type="checkbox" id="chk-3-1" [checked]="filterForm[0].checked" (click)="changeFilter($event, 0)">
        <label tappable for="chk-3-1" class="label">{{'Beach'| translate}}</label>
      </div>
      <div class="popup-list">
        <input tappable type="checkbox" id="chk-3-2" [checked]="filterForm[1].checked" (click)="changeFilter($event, 1)">
        <label tappable for="chk-3-2" class="label">{{'Urban'| translate}}Urban</label>
      </div>
      <div class="popup-list">
        <input tappable type="checkbox" id="chk-3-3" [checked]="filterForm[2].checked" (click)="changeFilter($event, 2)">
        <label tappable for="chk-3-3" class="label">{{'Mountain'| translate}}</label>
      </div>
      <div class="popup-list">
        <input tappable type="checkbox" id="chk-3-4" [checked]="filterForm[3].checked" (click)="changeFilter($event, 3)">
        <label class="label" for="chk-3-4">{{'Mangroves'| translate}}</label>
      </div>
      
    </div>
  </div>


  <!-- // Dinning -->
  <div class="filter-popup"  *ngIf="type == 'restaurant'">
    <div class="popup-header">
      <span class="popup-close" tappable (click)="save()">{{'Done' | translate}}</span>
      <!-- <span class="popup-save" tappable (click)="save()"><ion-icon name="checkmark"></ion-icon></span> -->
      {{'Filter' | translate }}
    </div>
    <div class="popup-content">
      <div class="popup-list">
        <input tappable type="checkbox" id="chk-4-2" value="" [checked]="filterForm[0].checked" (click)="changeFilter($event, 0)">
        <label tappable for="chk-4-2" class="label">{{'Fast food'| translate}}</label>
      </div>
      <div class="popup-list">
        <input tappable type="checkbox" id="chk-4-3" value="" [checked]="filterForm[1].checked" (click)="changeFilter($event, 1)">
        <label tappable for="chk-4-3" class="label">{{'Casual dining'| translate}}</label>
      </div>
      <div class="popup-list">
        <input tappable type="checkbox" id="chk-4-4" value="" [checked]="filterForm[2].checked" (click)="changeFilter($event, 2)">
        <label tappable for="chk-4-4" class="label">{{'Fine dining'| translate}}</label>
      </div>
      <div class="popup-list">
        <input tappable type="checkbox" id="chk-4-5" value="" [checked]="filterForm[3].checked" (click)="changeFilter($event, 3)">
        <label tappable for="chk-4-5" class="label">{{'Café'| translate}}</label>
      </div>
      <div class="popup-list">
        <input tappable type="checkbox" id="chk-4-6" value="" [checked]="filterForm[4].checked" (click)="changeFilter($event, 4)">
        <label tappable for="chk-4-6" class="label">{{'Coffeehouse'| translate}}</label>
      </div>
      <div class="popup-list">
        <input tappable type="checkbox" id="chk-4-7" value="" [checked]="filterForm[5].checked" (click)="changeFilter($event, 5)">
        <label tappable for="chk-4-7" class="label">{{'Bakery'| translate}}</label>
      </div>
      <div class="popup-list">
        <input tappable type="checkbox" id="chk-4-8" value="" [checked]="filterForm[6].checked" (click)="changeFilter($event, 6)">
        <label tappable for="chk-4-8" class="label">{{'Pizzeria'| translate}}</label>
      </div>

    </div>
  </div>

  <!-- //Plan Trip -->
  <div class="filter-popup"  *ngIf="type == 'itenerary_duration'">
    <div class="popup-header">
      <span class="popup-close" tappable (click)="save()">{{'Done' | translate}}</span>
      <!-- <span class="popup-save" tappable (click)="save()"><ion-icon name="checkmark"></ion-icon></span> -->
      {{'HOW LONG CAN YOU STAY?' | translate }}

    </div>
    <div class="popup-content">
      <div class="popup-list">
        <input tappable type="radio" name="radioCheck" id="chk-5-1" [checked]="filterForm[0].checked" (click)="changeFilter($event, 0)">
        <label tappable for="chk-5-1" class="label">{{'5 Days'| translate}}</label>
      </div>
      <div class="popup-list">
        <input tappable type="radio" name="radioCheck" id="chk-5-2" [checked]="filterForm[1].checked" (click)="changeFilter($event, 1)">
        <label tappable for="chk-5-2" class="label">{{'4 Days'| translate}}</label>
      </div>
      <div class="popup-list">
        <input tappable type="radio" name="radioCheck" id="chk-5-3" [checked]="filterForm[2].checked" (click)="changeFilter($event, 2)">
        <label tappable for="chk-5-3" class="label">{{'3 Days'| translate}}</label>
      </div>
      <div class="popup-list">
        <input tappable type="radio" name="radioCheck" id="chk-5-4" [checked]="filterForm[3].checked" (click)="changeFilter($event, 3)">
        <label class="label" for="chk-5-4">{{'2 Days'| translate}}</label>
      </div>
      <div class="popup-list">
        <input tappable type="radio" name="radioCheck" id="chk-5-5" [checked]="filterForm[4].checked" (click)="changeFilter($event, 4)">
        <label class="label" for="chk-5-5">{{'1 Day'| translate}}</label>
      </div>
    </div>
  </div>
  <div class="filter-popup"  *ngIf="type == 'itenerary_type'">
    <div class="popup-header">
      <span class="popup-close" tappable (click)="save()">{{'Done' | translate}}</span>
      <!-- <span class="popup-save" tappable (click)="save()"><ion-icon name="checkmark"></ion-icon></span> -->
      {{'WHAT IS THE PURPOSE OF VISIT?' | translate }}
    </div>
    <div class="popup-content">
      <div class="popup-list">
        <input tappable type="checkbox" id="chk-6-1" [checked]="filterForm[5].checked" (click)="changeFilter($event, 5)">
        <label tappable for="chk-6-1" class="label">{{'Active' | translate }}</label>
      </div>
      <div class="popup-list">
        <input tappable type="checkbox" id="chk-6-2" [checked]="filterForm[6].checked" (click)="changeFilter($event, 6)">
        <label tappable for="chk-6-2" class="label">{{'Business' | translate }}</label>
      </div>
      <div class="popup-list">
        <input tappable type="checkbox" id="chk-6-3" [checked]="filterForm[7].checked" (click)="changeFilter($event, 7)">
        <label tappable for="chk-6-3" class="label">{{'Family' | translate }}</label>
      </div>
      <div class="popup-list">
        <input tappable type="checkbox" id="chk-6-4" [checked]="filterForm[8].checked" (click)="changeFilter($event, 8)">
        <label class="label" for="chk-6-4">{{'Friends' | translate }}</label>
      </div>
      <div class="popup-list">
        <input tappable type="checkbox" id="chk-6-5" [checked]="filterForm[9].checked" (click)="changeFilter($event, 9)">
        <label class="label" for="chk-6-5">{{'Romantic' | translate }}</label>
      </div>
      <div class="popup-list">
        <input tappable type="checkbox" id="chk-6-6" [checked]="filterForm[10].checked" (click)="changeFilter($event, 10)" >
        <label class="label" for="chk-6-6">{{'Solo' | translate }}</label>
      </div>
    </div>
  </div>
  
   <div class="filter-popup"  *ngIf="type == 'itenerary_activity'">
    <div class="popup-header">
      <span class="popup-close" tappable (click)="save()">{{'Done' | translate}}</span>
      <!-- <span class="popup-save" tappable (click)="save()"><ion-icon name="checkmark"></ion-icon></span> -->
      {{'SEEKING A PARTICULARLY ACTIVITY?' | translate }}
    </div>
    <div class="popup-content">
      <div class="popup-list">
        <input tappable type="checkbox" id="chk-8-1" [checked]="filterForm[11].checked" (click)="changeFilter($event, 11)">
        <label class="label">{{'Beach' | translate }}</label>
      </div>
      <div class="popup-list">
        <input tappable type="checkbox" id="chk-8-2" [checked]="filterForm[12].checked" (click)="changeFilter($event, 12)">
        <label tappable for="chk-8-2" class="label">{{'Culture' | translate }}</label>
      </div>
      <div class="popup-list">
        <input tappable type="checkbox" id="chk-8-3" [checked]="filterForm[13].checked" (click)="changeFilter($event, 13)">
        <label tappable for="chk-8-3" class="label">{{'Cycling' | translate }}</label>
      </div>
      <div class="popup-list">
        <input tappable type="checkbox" id="chk-8-4" [checked]="filterForm[14].checked" (click)="changeFilter($event, 14)">
        <label class="label" for="chk-8-4">{{'Desert' | translate }}</label>
      </div>
      <div class="popup-list">
        <input tappable type="checkbox" id="chk-8-5" [checked]="filterForm[15].checked" (click)="changeFilter($event, 15)">
        <label class="label" for="chk-8-5">{{'Golf' | translate }}</label>
      </div>
      <div class="popup-list">
        <input tappable type="checkbox" id="chk-8-6" [checked]="filterForm[16].checked" (click)="changeFilter($event, 16)">
        <label class="label" for="chk-8-6">{{'Scenic' | translate }}</label>
      </div>
      <div class="popup-list">
        <input tappable type="checkbox" id="chk-8-7" [checked]="filterForm[17].checked" (click)="changeFilter($event, 17)">
        <label class="label" for="chk-8-7">{{'Shopping' | translate }}</label>
      </div>
      <div class="popup-list">
        <input tappable type="checkbox" id="chk-8-8" [checked]="filterForm[18].checked" (click)="changeFilter($event, 18)">
        <label class="label" for="chk-8-8">{{'Spa' | translate }}</label>
      </div>
      <div class="popup-list">
        <input tappable type="checkbox" id="chk-8-9" [checked]="filterForm[19].checked" (click)="changeFilter($event, 19)">
        <label class="label" for="chk-8-9">{{'Sports' | translate }}</label>
      </div>
      <div class="popup-list">
        <input tappable type="checkbox" id="chk-8-10" [checked]="filterForm[20].checked" (click)="changeFilter($event, 20)">
        <label class="label" for="chk-8-10">{{'Watersports' | translate }}</label>
      </div>
    </div>
  </div>
