.voice-trigger {
	border-radius: 50%;
	background: red;
	color: #fff;
	font-size: 30px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	&.speaking {
		border: 4px solid #fff;
	}

}

@keyframes load {
	0% { stroke-dashoffset: 0; }
}
.record-progress {
    display: inline-block;
    position: absolute;
    text-align: center;
    color: #93A2AC;
    font-family: Lato;
    font-weight:100;
    top: -6px;
    left: -6px;
	&.recording {
		svg {
			&:nth-child(2) path {
				animation: load 10s;
			}
		}
	}
	svg {
	    width: 96px;
	    height: 96px;
	    &:nth-child(2) {
	        position: absolute;
	        left: 0;
	        top: 0;
	        transform: rotate(-90deg);
	    }
	    &:nth-child(2) path {
	        fill: none;
	        stroke-width: 5;
	        stroke-dasharray: 629;
	        stroke: red;
	        opacity:.9;
	        animation-direction: reverse;
	    }
	}
}